<!DOCTYPE html>
<html>
<head>
<title>Ubukwe Nyarwanda Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/ubukwenyarwanda.css" rel="stylesheet">
<link rel="stylesheet"
	href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet"
	href="plugins/bs-image-gallery-3.1.0/css/bootstrap-image-gallery.min.css">
<link href="css/social-buttons.css" rel="stylesheet">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div id="wrap">
		<div id="headerContainer" class="container">
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="thumbnail"> <img
						data-src="holder.js/100%x50" alt="...">
					</a>
				</div>
				<div class="col-md-10 ">
					<div class="navbar navbar-default ">
						
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand active" href="index.html">Home</a>
						
						<div class="pull-right" style="margin-right: 10px;">
							<a href="signup.html" class="btn btn-primary  navbar-btn">Sign
								up</a>
							
							<a href="#" class="btn btn-default  navbar-btn">Sign
								in</a>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav ">
								<li><a href="#">Find Service</a></li>
								<li><a href="#">Photo gallery</a></li>
								<li><a href="listingHelp.html">Need an advice</a></li>

							</ul>
							
							
						</div>

					</div>

				</div>
				<!-- 
				<div class="col-md-4">
					<button class="btn btn-default pull-right">Sign in</button>
				</div>
				 -->

			</div>

		</div>
		<!-- 
		<div class="navbar navbar-default container" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand active" href="#">Home</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">Find Service</a></li>
					<li><a href="#">Photo gallery</a></li>
					<li><a href="#">How to</a></li>
				</ul>

			</div>
		</div>
		-->
		<div id="breadcumbsContainer">
			<ol class="breadcrumb container">
				<li><a href="index.html">Home</a></li>
				<li><a href="listing.html">Listing service providers</a></li>
				<li class="active"><a href="#">Fabrice</a></li>
			</ol>
		</div>


		<div id="mainContentContainer" class="container">
			<div class="row">
				<div id="content" class="col-md-10 container">
					
					<div class="row">
						<div class="col-md-4 ">
							<div class="thumbnail">
								<img data-src="holder.js/100%x150" alt="...">
								<div class="caption">
									<h5>Thumbnail label</h5>

									<p>
										<a href="detail.html" class="btn btn-primary btn-xs"
											role="button">Follow</a> <a href="#"
											class="btn btn-default btn-xs" role="button">Like</a>
											<button class="btn btn-default btn-lg btn-xs">
								<span class="glyphicon glyphicon-print"></span>
							</button>
									</p>
								</div>
							</div>


						</div>
						<div class="col-md-4 ">
							<div class="panel  panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">About</h3>
								</div>
								<div class="panel-body">
									<p>...</p>
								</div>
							</div>


						</div>
						<div class="col-md-4 ">
							<div class="panel  panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Contact</h3>
								</div>
								<div class="panel-body">

									<address>
										<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite
										600<br> San Francisco, CA 94107<br> <abbr
											title="Phone">P:</abbr> (123) 456-7890
									</address>

									<address>
										<strong>Full Name</strong><br> <a href="mailto:#">first.last@example.com</a>
									</address>


								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12 container">
							<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
							<div id="blueimp-gallery" class="blueimp-gallery">
								<!-- The container for the modal slides -->
								<div class="slides"></div>
								<!-- Controls for the borderless lightbox -->
								<h3 class="title"></h3>
								<a class="prev">‹</a> <a class="next">›</a> <a class="close">×</a>
								<a class="play-pause"></a>
								<ol class="indicator"></ol>
								<!-- The modal dialog, which will be used to wrap the lightbox content -->
								<div class="modal fade">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" aria-hidden="true">&times;</button>
												<h4 class="modal-title"></h4>
											</div>
											<div class="modal-body next"></div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default pull-left prev">
													<i class="glyphicon glyphicon-chevron-left"></i> Previous
												</button>
												<button type="button" class="btn btn-primary next">
													Next <i class="glyphicon glyphicon-chevron-right"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="panel  panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Photos</h3>
								</div>
								<div class="panel-body">
									<div id="links">
										<a href="images/thumbnails/banana.jpg" title="Banana nananannaeaeaea"
											data-gallery> <img height="100" width="100"
											src="images/thumbnails/banana.jpg" alt="Banana nananannaeaeaea"> 
										</a> <a href="images/thumbnails/apple.jpg" title="Apple"
											data-gallery> <img height="100" width="100"
											src="images/thumbnails/apple.jpg" alt="Apple">
										</a> <a href="images/thumbnails/orange.jpg" title="Orange"
											data-gallery> <img height="100" width="100"
											src="images/thumbnails/orange.jpg" alt="Orange">
										</a> <a href="images/thumbnails/orange.jpg" title="Orange"
											data-gallery> <img height="100" width="100"
											src="images/thumbnails/orange.jpg" alt="Orange">
										</a> <a href="images/thumbnails/orange.jpg" title="Orange"
											data-gallery> <img height="100" width="100"
											src="images/thumbnails/orange.jpg" alt="Orange">
										</a> <a href="images/thumbnails/orange.jpg" title="Orange"
											data-gallery> <img height="100" width="100"
											src="images/thumbnails/orange.jpg" alt="Orange">
										</a> <a href="images/thumbnails/banana.jpg" title="Banana"
											data-gallery> <img height="100" width="100"
											src="images/thumbnails/banana.jpg" alt="Banana">
										</a> <a href="images/thumbnails/apple.jpg" title="Apple"
											data-gallery> <img height="100" width="100"
											src="images/thumbnails/apple.jpg" alt="Apple">
										</a>
									</div>

								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<div class="panel  panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Services</h3>
								</div>
								<div class="panel-body">
									<p>...</p>
								</div>
							</div>
						</div>

					</div>

				</div>
				<div id="sidebar" class="col-md-2 .hidden-xs">sidebarContainer</div>
			</div>



		</div>
	</div>
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h4>About us</h4>
					ubukwenyarwanda.biz helps you to get the best wedding services
				</div>
				<div class="col-md-5">
					<h4>Contact us</h4>
					info@ubukwenyarwanda.com <br /> +250(0)78 67 99 000
				</div>
				<div class="col-md-2">
					<h4>Connect with us</h4>
					<div class="btn-group">
						<button class="btn">
							<i class="fa fa-facebook-square  fa-stack-2x"></i>&nbsp; &nbsp;
						</button>
						<button class="btn">
							<i class="fa fa-twitter-square fa-stack-2x"></i>&nbsp; &nbsp;
						</button>
						<button class="btn">
							<i class="fa fa-google-plus-square fa-stack-2x"></i>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/holder.js"></script>
	<script
		src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script
		src="plugins/bs-image-gallery-3.1.0/js/bootstrap-image-gallery.min.js"></script>
	<script type="text/javascript">
	$('.carousel').carousel({
		  interval: 2000
		})
	</script>
</body>
</html>