<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ubukwe Nyarwanda Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<!-- Bootstrap -->
<link href="../../resources/css/bootstrap.css" rel="stylesheet" th:href="@{/resources/css/bootstrap.css}" />
<link href="../../resources/css/font-awesome.min.css" rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}"/>
<link href="../../resources/css/bootstrap-theme.min.css" rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}"/>
<link href="../../resources/css/ubukwenyarwanda.css" rel="stylesheet" 
th:href="@{/resources/css/ubukwenyarwanda.css}"/>
<link href="../../resources/css/social-buttons.css" rel="stylesheet"
th:href="@{/resources/css/social-buttons.css}"
 />




<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div id="wrap">
		<div id="headerContainer" class="container">
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="thumbnail"> <img data-src="holder.js/100%x50" alt="..." />
					</a>
				</div>
				<div class="col-md-10 ">
					<div class="navbar navbar-default ">

						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand active" href="#">Home</a>

						<div class="pull-right" style="margin-right: 10px;">
							<button class="btn btn-default pull-right navbar-btn" data-toggle="modal" data-target="#myModal">Sign in</button>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav ">
								<li><a href="listing.html">Find Service</a></li>
								<li><a href="photoGallery.html">Photo gallery</a></li>
								<li><a href="listingHelp.html">Need an advice </a></li>

							</ul>

						</div>

					</div>

				</div>


			</div>

		</div>



		<div id="mainContentContainer" class="container">
			<div class="row">
				<div id="content" class="col-md-10">
					<div class="row">
						<div class="col-md-12 .hidden-xs">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-example-generic" data-slide-to="1"></li>
									<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<img src="../../resources/images/thumbnails/orange.jpg" alt="..." th:src="@{/resources/images/thumbnails/orange.jpg}" />
										<div class="carousel-caption">Cool</div>
									</div>
									<div class="item">
										<img src="../../resources/images/thumbnails/banana.jpg" alt="..."  th:src="@{/resources/images/thumbnails/banana.jpg}"/>
										<div class="carousel-caption">Staff</div>
									</div>
									<div class="item">
										<img src="../../resources/images/thumbnails/apple.jpg" alt="..." th:src="@{/resources/images/thumbnails/apple.jpg}"/>
										<div class="carousel-caption">Here</div>
									</div>
								</div>

								<!-- Controls -->
								<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span
									class="glyphicon glyphicon-chevron-left"></span>
								</a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span
									class="glyphicon glyphicon-chevron-right"></span>
								</a>
								<div class="mainPitch" style="position: absolute; top: 30px; width: 100%;">
									<div class="" style="text-align: center;">
										<h2 style="margin-bottom: 10px; font-family: Shift, Helvetica Neue; font-weight: bold;">Looking for a wedding
											service ?</h2>

										<form action="listing.html" role="form" class="form-inline" th:action="@{/}" th:object="${providerSearch}" method="post">

											<div class="row">
												<div class="col-md-2 col-md-offset-3">
																										
													<select th:field="*{idWeddingService}" id="idWeddingService" class="form-control">
  														<option th:each="weddingService : ${allWeddingServices}" 
        												  th:value="${weddingService.id}" 
         												 th:text="${weddingService.libelle}">Wedding planner</option>
													</select>
												</div>
												
												<div class="col-md-2 ">													
													<select th:field="*{idDistrict}" id="idDistrict" class="form-control">
  														<option th:each="district : ${allDistricts}" 
        												  th:value="${district.id}" 
         												 th:text="${district.libelle}">Kigali</option>
													</select>											
										
												</div>
												<div class="col-md-2">
													<button type="submit" class="btn btn-primary btn-block">
														Find <span class="glyphicon glyphicon-search"></span>
													</button>
												</div>
											</div>




										</form>
									</div>
								</div>
							</div>


						</div>

					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-3">
									<div class="thumbnail">
										<img data-src="holder.js/100%x150" alt="..." />
										<div class="caption">
											<h5>Thumbnail label</h5>

											<p>
												<a href="detail.html" class="btn btn-primary btn-xs" role="button">Follow</a> <a href="#"
													class="btn btn-default btn-xs" role="button">Like</a>
											</p>
										</div>
									</div>

								</div>
								<div class="col-md-3">
									<div class="thumbnail">
										<img data-src="holder.js/100%x150" alt="..."></img>
										<div class="caption">
											<h5>Thumbnail label</h5>

											<p>
												<a href="detail.html" class="btn btn-primary btn-xs" role="button">Follow</a> <a href="#"
													class="btn btn-default btn-xs" role="button">Like</a>
											</p>
										</div>
									</div>

								</div>
								<div class="col-md-3">
									<div class="thumbnail">
										<img data-src="holder.js/100%x150" alt="..." />
										<div class="caption">
											<h5>Thumbnail label</h5>

											<p>
												<a href="detail.html" class="btn btn-primary btn-xs" role="button">Follow</a> <a href="#"
													class="btn btn-default btn-xs" role="button">Like</a>
											</p>
										</div>
									</div>

								</div>
								<div class="col-md-3">
									<div class="thumbnail">

										<img src="../../resources/images/application/no_person.jpg" style="width: 203px; height: 125px; display: block;"
											alt="..." th:src="@{/resources/images/application/no_person.jpg}" />
										<div class="caption">
											<p class="text-center text-primary">Are you a wedding professional ?</p>


											<p>
												<a href="signup.html" class="btn btn-primary btn-block " role="button">Sign up</a>

											</p>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-12 panel">
							<a href="listing.html" class="btn btn-primary  " role="button">Find more services </a>
						</div>
					</div>
				</div>

				<div id="sidebar" class="col-md-2 .hidden-xs">sidebarContainer</div>

			</div>
		</div>
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h4>About us</h4>
						ubukwenyarwanda.biz helps you to get the best wedding services
					</div>
					<div class="col-md-5">
						<h4>Contact us</h4>
						info@ubukwenyarwanda.com <br /> +250(0)78 67 99 000
					</div>
					<div class="col-md-2">
						<h4>Connect with us</h4>
						<div class="btn-group">
							<button class="btn">
								<i class="fa fa-facebook-square  fa-stack-2x"></i>&nbsp; &nbsp;
							</button>
							<button class="btn">
								<i class="fa fa-twitter-square fa-stack-2x"></i>&nbsp; &nbsp;
							</button>
							<button class="btn">
								<i class="fa fa-google-plus-square fa-stack-2x"></i>
							</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modals -->
	<!-- Login Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-login">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Sign in</h4>
				</div>
				<div class="modal-body">

					<button class="btn btn-facebook btn-block">
						<i class="fa fa-facebook"></i> | Sign in with Facebook
					</button>

					<div
						style="height: 20px; margin-bottom: 10px; position: relative; background: none repeat scroll 0 0 rgba(0, 0, 0, 0); text-align: center">
						<h5 style="background-color: #FDFDFD; display: inline-block; margin: 0; padding: 8px;">OR</h5>
						<hr style="margin: -16px auto 10px; width: 90%;" />

					</div>

					<form role="form">
						<input type="hidden" name="enterHere" class="hidden" />
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">@</span> <input type="email" autofocus="autofocus" class="form-control"
									id="exampleInputEmail1" placeholder="Enter email" />
							</div>

						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock"></i> </span> <input type="password" class="form-control"
									id="exampleInputPassword1" placeholder="Password" />
							</div>

						</div>

						<div class="checkbox">
							<label> <input type="checkbox" /> Check me out
							</label> <span class="pull-right"> <a href="#pswModal" data-toggle="modal" data-target="#pswModal" data-dismiss="modal">Forgot
									password?</a></span>

						</div>
						<button type="submit" class="btn btn-primary btn-block">Sign in</button>
					</form>
				</div>
				<!-- 
				
				 -->
				<div class="modal-footer">
					<!-- 
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				 -->
					<span class="pull-left"> Are you a wedding professional ?<a href="signup.html">Sign up</a>
					</span>

				</div>
			</div>
		</div>
	</div>
	<!-- remind password Modal -->
	<div class="modal fade" id="pswModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-login">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Reset Password</h4>
				</div>
				<div class="modal-body">
					<span class="text-muted"> Enter the email address associated with your account, and we'll email you a link to reset
						your password. </span>
					<form role="form">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">@</span> <input type="email" class="form-control" id="exampleInputEmail1"
									placeholder="Enter email" />
							</div>

						</div>

						<button type="submit" class="btn btn-primary btn-block">Send reset link</button>
					</form>
				</div>
				<!-- 
				
				 -->

			</div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="../../resources/js/holder.js" th:src="@{/resources/js/holder.js}"></script>
	<script type="text/javascript">
	$('.carousel').carousel({
		  interval: 2000
		});
		$(".modal").on('shown', function() {
        $(this).find("#exampleInputEmail1").focus();
    });
	</script>
</body>
</html>