@CHARSET "UTF-8";

html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}
body {
	 min-width:320px; 
   _width: expression( document.body.clientWidth > 320 ? "320px" : "auto" ); /* sets max-width for IE */

	}

#mainContainer {
	background-color: red;
	border: 1px solid black;
}

#headerContainer {
	padding: 0;
	margin-top: 15px;
}

.navbar-brand {
  height: 50px;
}

#topNavContainer {
	margin-bottom: 15px;
	border: 1px solid black;
	padding: 0 15px;
}

#breadcumbsContainer {
	/**
	margin-bottom: 15px;
	border: 1px solid black;
	padding: 0 15px; */
	
}

#mainContentContainer {
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 15px;
	padding: 15px;
}

#content {
	/*	border:1px solid #e3e3e3;*/
	
}

/* Carousel base class */
.carousel {
	height: 300px;
	margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 300px;
	background-color: #777;
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 300px;
	
   opacity: 0.1 ;/* The image will become nearly transparent and text gets visible more clearly */
 	 opacity: inherit ; 
   filter: alpha(opacity=100); /* For IE8 and below */
   
}

.searchform {
	display: inline-block;
	zoom: 1; /* ie7 hack for display:inline-block */
	*display: inline;
	border: solid 1px #d2d2d2;
	padding: 3px 5px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#ededed));
	background: -moz-linear-gradient(top, #fff, #ededed);
	filter: progid:                      DXImageTransform.Microsoft.gradient(
		
		 
		  
		       
		        startColorstr=           
		          '#ffffff', endColorstr=                      '#ededed');
	/* ie7 */
	-ms-filter: progid:                    
		 DXImageTransform.Microsoft.gradient(    
		 
		     
		         startColorstr=                      '#ffffff', endColorstr= 
		  
		           
		     '#ededed');
	/* ie8 */
}

#sidebar {
	/*background-color: gray;
	border: 1px solid #e3e3e3;
	border-radius: 4px; 
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
	margin-bottom: 15px;
	padding: 10px;
}

#sidebarContainer {
	margin-bottom: 15px;
	float: left;
	border: 1px solid black;
}

#footerContainer {
	clear: both;
	margin-bottom: 15px;
	border: 1px solid black;
}
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -100px;
	/* Pad bottom by footer height */
	padding: 0 0 100px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 100px;
}

#footer .container {
	display: block;
	background-color: #f5f5f5;
}

.h300px {
	height: 300px;
}

.img100x150 {
	width: 100%;
	height: 150px;
	display: block;
}

#links a img {
	margin-right: 14px;
	border: 1px solid #ccc; 
}

#links a img { 
  
} 
#links a img:hover { 
  outline: 2px solid #f1f1f1; 
} 

@media screen and (min-width: 768px) {
	.modal-login {
		width: 350px;
	}
	#links a img {
		margin-bottom: 14px;
	}
}

@media screen and (max-width: 980px) {
	#links a img {
		margin-bottom: 14px;
	}
}

@media screen (max-width: 646px) {
	#mainPitch {
	position: absolute;
	top: 0px;
	width: 100%;
	
  }
}
.navbar-toggle {
	float: left;
}

.navbar-default {
  border-color: #e7e7e7;
}
.tab-pane {
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 10px;
}

#mainPitch {
	position: absolute;
	top: 70px;
	width: 100%;
	padding: 5px;
	
}

#homeSearchFormContainer {
	text-align: center;
	color: #ffffff;
	
}

#homeSearchFormContainer h2 {
	margin-bottom: 10px;
	font-family: 'GothamBook', Shift, Helvetica Neue;
	font-weight: bold;
	 z-index: 10;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	
}