@CHARSET "UTF-8";

html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	/*font-family: 'GothamBook', Shift, Helvetica Neue;*/
}
body {
	 min-width:320px; 
   _width: expression( document.body.clientWidth > 320 ? "320px" : "auto" ); /* sets max-width for IE */

	}

#mainContainer {
	background-color: red;
	border: 1px solid black;
}

#headerContainer {
	padding: 0;
	margin-top: 15px;
}

.navbar-brand {
  height: 50px;
}

#topNavContainer {
	margin-bottom: 15px;
	border: 1px solid black;
	padding: 0 15px;
}

#breadcumbsContainer {
	/**
	margin-bottom: 15px;
	border: 1px solid black;
	padding: 0 15px; */
	
}

.contentContainer {
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 15px;
	padding: 15px;
}

#content {
	/*	border:1px solid #e3e3e3;*/
	
}

/* Carousel base class */
/* .carousel {
	height: 300px;
	margin-bottom: 10px;
} */
/* Since positioning the image, we need to help out the caption */
/* .carousel-caption {
	z-index: 10;
} */

/* Declare heights because of positioning of img element */
/* .carousel .item {
	height: 300px;
	background-color: #777;
} */

/* .carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 300px;
	
   opacity: 0.1 ;The image will become nearly transparent and text gets visible more clearly
 	 opacity: inherit ; 
   filter: alpha(opacity=100); For IE8 and below
   
} */

.searchform {
	display: inline-block;
	zoom: 1; /* ie7 hack for display:inline-block */
	*display: inline;
	border: solid 1px #d2d2d2;
	padding: 3px 5px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#ededed));
	background: -moz-linear-gradient(top, #fff, #ededed);
	filter: progid:                      DXImageTransform.Microsoft.gradient(
		
		 
		  
		       
		        startColorstr=           
		          '#ffffff', endColorstr=                      '#ededed');
	/* ie7 */
	-ms-filter: progid:                    
		 DXImageTransform.Microsoft.gradient(    
		 
		     
		         startColorstr=                      '#ffffff', endColorstr= 
		  
		           
		     '#ededed');
	/* ie8 */
}

#sidebar {
	/*background-color: gray;
	border: 1px solid #e3e3e3;
	border-radius: 4px; 
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
	margin-bottom: 15px;
	padding: 10px;
}

#sidebarContainer {
	margin-bottom: 15px;
	float: left;
	border: 1px solid black;
}

#footerContainer {
	clear: both;
	margin-bottom: 15px;
	border: 1px solid black;
}
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -100px;
	/* Pad bottom by footer height */
	padding: 0 0 100px;
}

/* Set the fixed height of the footer here */
#footer {
	/*height: 100px;*/
}

#footer .container {
	display: block;
	background-color: #f5f5f5;
}

.h300px {
	height: 300px;
}

.img100x150 {
	width: 100%;
	height: 150px;
	display: block;
}

#links a img {
	margin-right: 14px;
	border: 1px solid #ccc; 
}


 #links a img:hover { 
  outline: 2px solid #f1f1f1; 
}  


.chosen-container {  
  text-align: left;
    margin-bottom: 10px;
  }
 
 .chosen-container-single .chosen-single {
  padding: 3px 0 0 8px;
height: 34px;

  }

/* .chosen-container .chosen-container-single {  
  width: 95%
  } */


@media screen and (min-width: 768px) {
	.modal-login {
		width: 350px;
	}
	#links a img {
		margin-bottom: 14px;
	}
}

@media screen and (max-width: 980px) {
	#links a img {
		margin-bottom: 14px;
	}
}

@media screen (max-width: 646px) {
	#mainPitch {
	position: absolute;
	top: 0px;
	width: 100%;
	
  }
}
.navbar-toggle {
	float: left;
}

.navbar-default {
  border-color: #e7e7e7;
}
.tab-pane {
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 10px;
}

#mainPitch {
	position: absolute;
	top: 70px;
	width: 100%;
	padding: 5px;
	
}

#mainPitch2 {
	position: absolute;
	top: 170px;
	width: 100%;
	padding: 5px;
	
}

#homeSearchFormContainer {
	text-align: center;
	color: #ffffff;
	/* padding: 3px;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,.1); */
	
}

#homeSearchFormContainer h2 , #homeSearchFormContainer h1{
	margin-bottom: 10px;
	font-family: 'GothamBook', Shift, Helvetica Neue;
	font-weight: bold;
	 z-index: 10;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	
}

/* rewrite breadcrumb class */
.breadcrumb {
  padding: 8px 15px;
  /* margin-bottom: 20px; */
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.whyJoinUs{
	line-height :1.9em;font-family: 'GothamBook', Shift, Helvetica Neue; font-size:18px;
	
}

.cropit-image-preview {
  /* You can specify preview size in CSS */
  width: 160px;
  height: 160px;
  background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
}
/* Hide file input */
input.cropit-image-input {
  visibility: hidden;
}
/* Translucent background image */
.cropit-image-background {
  opacity: .2;
}

/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
input.cropit-image-zoom-input {
  position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
  overflow: hidden;
}

.save-btn,.select-image-btn {
    background: #52a0c7;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 0 2px #3784aa;
    box-shadow: 0 2px #3784aa;
}

.slider-wrapper {
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-top:10px;
}
input[type=range] {
    display: block;
    width: 160px;
}
.jGrowl-notification {
    background-color: #E44040;
    opacity: .9;
    -ms-filter: alpha(90);
    filter: alpha(90);
    zoom: 1;
    width: 250px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    display: none;
    border-radius: 5px;
    min-height: 40px;
}
/* jasny class */
/*  .navmenu, .navbar-offcanvas {
  width: 280px;
}  */