<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ubukwebwiza</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

</head>
<body>
	<div th:fragment="paginator">


		<!-- <span th:text="#{paginator.page}">Page</span> &nbsp; <span
					th:text="${page.number}">1</span>&nbsp; <span
					th:text="#{paginator.of}">of</span>&nbsp; <span
					th:text="${page.totalPages}">of</span> &nbsp; <span
					th:text="#{paginator.pages}">page(s)</span> &nbsp;
			 -->



		<ul class="pagination pagination-sm">

			<li th:class="${page.firstPage}? 'disabled' : ''"><span
				th:if='${page.firstPage}' th:text="#{paginator.first}"> First</span>
				<a th:if='${not page.firstPage}' th:href='@{${page.url}(page=1)}'
				th:text="#{paginator.first}"> First</a></li>

			<li th:if='${page.hasPreviousPage}'
				th:class="${page.hasPreviousPage}? '' : 'disabled'"><span
				th:if='${not page.hasPreviousPage}'>&laquo;</span> <a
				th:if='${page.hasPreviousPage}'
				th:href='@{${page.url}(page=${page.number - 1})}'
				title='Go to previous page'>&laquo;</a></li>


			<li th:each="item : ${page.items}"
				th:class="${item.current}? 'active' : ''"><span
				th:if='${item.current}' th:text='${item.number}'>1</span> <a
				th:if='${not item.current}'
				th:href='@{${page.url}(page=${item.number})}'><span
					th:text='${item.number}'>1</span></a></li>

			<li th:if="${page.hasNextPage}"
				th:class="${page.hasNextPage}? '' : 'disabled'"><span
				th:if="${not page.hasNextPage}">&raquo;</span> <a
				th:if="${page.hasNextPage}"
				th:href="@{${page.url}(page=${page.number + 1})}"
				title="Go to next page">&raquo;</a></li>




			<li th:class="${page.lastPage}? 'disabled' : ''"><span
				th:if="${page.lastPage}" th:text="#{paginator.last}">Last</span> <a
				th:if="${not page.lastPage}"
				th:href="@{${page.url}(page=${page.totalPages})}"
				th:text="#{paginator.last}">Last</a></li>

		</ul>

	</div>
<!-- 	class="active" th:class="${item.current}? 'active' : ''" -->
	<!-- Breadbrumbs -->
	<div th:fragment="breadcrumbs" th:if="${currentMenu != 'home'}">		
			<div id="breadcumbsContainer">
				<ol class="breadcrumb container" >
				<li th:each="item : ${session.navigationPath}">
					<a href="index.html"  th:if="${not itemStat.last}" th:href="@{${item.url}}" th:text="${item.name}" >Home</a>
					<th:block th:if="${itemStat.last}">
						<span  th:if="${item.name == 'provider'}"  th:text="${provider.businessName}" > uBUKWE</span>
						<span  th:if="${item.name != 'provider'}"  th:text="${item.name}" >Home</span>
					</th:block>
					
				</li>
			</ol>
			
			</div>
		
	</div>
	
	<!-- Edit profile menu -->
	<div class="col-md-2 col-sm-2 col-xs-2" th:fragment="sidebarMenu" id="sidebarMenu">
            <ul class="nav nav-pills nav-stacked">
                <li  th:classappend="${currentTab == 'myAccount' ? 'active' : ''}"><a href="#"><i class="fa fa-home fa-fw" th:text="#{message.editProfile.myAccount}"></i>My Account</a></li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-list-alt fa-fw" th:text="#{message.editProfile.personnalInfo}"></i>Account info</a></li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-file-o fa-fw" th:text="#{message.editProfile.profilePhoto}"></i>Change profile photo</a></li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-bar-chart-o fa-fw" th:text="#{message.editProfile.changePassword}"></i>Password</a></li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-table fa-fw" th:text="#{message.editProfile.socialMedia}"></i>Social media</a></li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-tasks fa-fw" th:text="#{message.editProfile.photos}"></i>Photos</a></li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-calendar fa-fw" th:text="#{message.editProfile.services}"></i>Services</a></li>
                
        <!--         <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-cogs fa-fw"></i>Settings</a></li> -->
            </ul>
        </div>
        
</body>
</html>