<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Reset password email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
  </head>
  <body>
  <div class="container" style="margin-top: 15px; border: 1px solid rgb(236, 242, 242);	padding: 15px; ">
  	<p>
  		<img alt="Ubukwebwiza" src="https://s3.amazonaws.com/ubfiles/logo.jpg"  />
  	</p>
<!--     <p th:text="#{message.greeting(${name})}"> -->
<!--       Hello, Peter Static! -->
<!--     </p> -->
    
    <p th:text="${emailText}"> </p>
    <p> <a th:href="${activateAccountLink}" ><span th:text="${clickHereText}"></span> </a> </p>
    
    
    
    <p>
     <!--  <img src="logo.png" th:src="'cid:' + ${imageResourceName}" /> -->
    </p>
    <p>
      Regards, <br />
      <em>Ubukwebwiza Team</em>
    </p>
    </div>
    <div style="/*margin: 15px;*/	padding: 15px; ">
    	<p>&copy; 2015 Ubukwebwiza</p>
    </div>
    
  </body>
</html>