<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Answer message mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
  </head>
  <body>
  <div class="container" style="margin-top: 15px; border: 1px solid rgb(236, 242, 242);	padding: 15px; ">
  	<p>
  		<img alt="Ubukwebwiza" src="https://s3.amazonaws.com/ubfiles/logo.jpg"  />
  	</p>
  	<br />
    <p><span th:text="#{message.greeting}" ></span>&nbsp; <span th:text="${username}"></span>,</p>
     
    
    <p > <span th:text="#{message.answerMessageSubject(${senderName})}"></span>:  </p>  
   
    <br />
    <p th:text="${emailText}"> </p>
    
   
    <br />
    <p> <a th:href="${answerMessageLink}" ><span th:text="${answerMessageText}"></span> </a> </p>
    
    <br />
    <p>
     <!--  <img src="logo.png" th:src="'cid:' + ${imageResourceName}" /> -->
    </p>
    <p>
      Regards, <br />
      <em>Ubukwebwiza Team</em>
    </p>
    </div>
    <div style="/*margin: 15px;*/	padding: 15px; ">
    	<p>&copy; 2015 Ubukwebwiza</p>
    </div>
    
  </body>
</html>