<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="adminpanel/fragments/mainAdminLayout">
  
<head>
    

    <title>Dashbord</title>

   
  </head>

  <body>

    <div layout:fragment="pageContent" >

   
      
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200" class="img-responsive" alt="Generic placeholder thumbnail" />
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200" class="img-responsive" alt="Generic placeholder thumbnail" />
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200" class="img-responsive" alt="Generic placeholder thumbnail" />
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200" class="img-responsive" alt="Generic placeholder thumbnail"/>
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <ol class="breadcrumb">
  					<li ><a href="#" th:href="@{/admin/provinces}">Provinces</a></li>
					<li ><a href="#" th:href="@{/admin/districts}">Districts</a></li>
					<li ><a href="#" th:href="@{/admin/weddingservices}">Wedding
							services</a></li>
					<li ><a href="#" th:href="@{/admin/vendors}">Vendors</a></li>
					<li><a href="#"
						th:href="@{/admin/vendorweddingservices}">Vendor wedding service</a></li>
					<li><a href="#" th:href="@{/admin/photos}">Photos</a></li>
					<li ><a href="#" th:href="@{/admin/contactus}">Contactus <span th:if="${unreadMessages > 0}" class="badge" th:text="${unreadMessages}"> </span>		</a>
					
					</li>
					<li sec:authorize="hasRole('SUPER_ADMIN')" th:classappend="${currentMenu == 'administrators' ? 'active' : ''}"><a href="#" th:href="@{/admin/administrators}">Administrators</a></li>
		</ol>
        </div>
   
  </body>

</html>
