<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="frontend/fragments/mainLayout">
<head>
<title th:text="#{editProfile.title(${provider.businessName})}">Ubukwebwiza -  provider Account Info</title>
</head>
<body>

		<!-- Main Content -->
		<div layout:fragment="pageContent" id="content" >
		<nav th:replace="accountMenu :: menu"> </nav>
		<div class="row">
				<!-- Content -->
				<div id="accountInfo" class="col-md-12">
				<h3><span class="text-primary">Change password</span> </h3>
						<div th:if="${errorAccountInfo}"
							class="alert alert-danger fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <span
								th:text="${errorAccountInfo}">Error</span>
						</div>
						<div th:if="${messageAccountInfo}"
							class="alert alert-success fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <span
								th:text="${messageAccountInfo}">Success</span>
						</div>
						<form role="form" th:action="@{/profile/updateAccount}"
							method="post">
							<div class="form-group">
								<label for="email" th:text="#{provider.list.email}">Email</label>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-envelope"></i></span> <input
										th:field="${provider.account.email}" id="email" type="email"
										disabled="disabled" value="email@example.com" />

								</div>
							</div>
							<div>
								<hr />

							</div>
							<!-- <div class="form-group">
									<label for="currentPassword" th:text="#{provider.list.currentPassword}">Current password</label>
									<div class="input-group col-md-5">
										<span class="input-group-addon"><i class="fa fa-lock"></i>
										</span> <input type="password" class="form-control" id="currentPassword" required="required"
											placeholder="current password" name="currentPassword"/>
									</div>
								</div> -->
							<div id="pwd-container">
								<div class="form-group">
									<label for="userPassword"
										th:text="#{provider.list.newPassword}">New password</label>
									<div class="input-group col-md-5">
										<span class="input-group-addon"><i class="fa fa-lock"></i>
										</span> <input type="password" class="form-control "
											id="userPassword" required="required"
											placeholder="new password" name="password" />
									</div>

								</div>
							</div>
							<div class="form-group">
								<label for="inputNp"
									th:text="#{provider.list.retypeNewPassword}">Retype new
									password</label>
								<div class="input-group col-md-5">
									<span class="input-group-addon"><i class="fa fa-lock"></i>
									</span> <input type="password" class="form-control " id="inputNp"
										placeholder="Retype new password" name="passwordConfirm"
										required="required" />
								</div>

							</div>

							<div class="form-group">
								<div class="input-group col-md-5">
									<button type="submit" class="btn btn-primary">
										<span th:text="#{update.button.label}">Update</span>
									</button>
								</div>
							</div>


						</form>

					

			</div>
				
			</div>
		
	
	
	
	
		</div>
	
	


	
	
	
</body>
</html>