<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="frontend/fragments/mainLayout">
<head>
<title th:text="#{signupError.title}">Ubukwebwiza - Sign up error</title>
</head>
<body>

	<div layout:fragment="pageContent" id="content" >
		<div th:if="${invalidToken}" class="alert alert-danger" th:text="#{auth.message.invalidToken}">Error</div>

		<div class="container" th:if="${expired}">
			<div class="row">
				<div class="col-md-4 alert alert-danger">
					<span th:text="#{auth.message.expired}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href="signup.html"
						th:href="@{/resend-registration-token(token=${token})}"
						class="btn btn-primary btn-sm " role="button"> <span th:text="#{auth.message.resendToken}">Resend registration token</span>
						</a>
				</div>
			</div>
		</div>

	</div>


</body>
</html>