<!DOCTYPE html>
<html>
<head>
<title>Ubukwe Nyarwanda Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="../../../resources/css/bootstrap.css" rel="stylesheet">
<link href="../../../resources/css/font-awesome.min.css" rel="stylesheet">
<link href="../../../resources/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="../../../resources/css/ubukwenyarwanda.css" rel="stylesheet">
<link rel="stylesheet"
	href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet"
	href="../../../resources/plugins/bs-image-gallery-3.1.0/css/bootstrap-image-gallery.min.css">
<link href="../../../resources/css/social-buttons.css" rel="stylesheet">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div id="wrap">
		<div id="headerContainer" class="container">
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="thumbnail"> <img
						data-src="holder.js/100%x50" alt="...">
					</a>
				</div>
				<div class="col-md-10 ">
					<div class="navbar navbar-default ">

						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand active" href="index.html">Home</a>

						<div class="pull-right" style="margin-right: 10px;">
							<a href="signup.html" class="btn btn-primary  navbar-btn">Sign
								up</a> <a href="#" class="btn btn-default  navbar-btn">Sign in</a>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav ">
								<li><a href="#">Find Service</a></li>
								<li><a href="#">Photo gallery</a></li>
								<li><a href="#">Need an advice</a></li>

							</ul>


						</div>

					</div>

				</div>
				

			</div>

		</div>
	
		<div id="breadcumbsContainer">
			<ol class="breadcrumb container">
				<li><a href="index.html">Home</a></li>
				<li><a href="listingHelp.html">Listing Help</a></li>
				<li class="active"><a href="#">How to</a></li>
			</ol>
		</div>


		<div id="mainContentContainer" class="container">
			<div class="row">
				<div id="content" class="col-md-10 container">

					<div class="row">
						<div class="col-md-2 ">
							<div class="thumbnail">
								<img data-src="holder.js/100%x70" alt="...">
								<div class="caption">
									<h5>Thumbnail label</h5>

								</div>
							</div>


						</div>
						<div class="col-md-10 ">
							<div class="panel  panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">How to</h3>
								</div>
								<div class="panel-body">
									<p>...</p>
								</div>
							</div>


						</div>

					</div>



					<div class="row">
						<div class="col-md-12">

							<div class="panel  panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Comments</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-2">
											<div class="thumbnail">
												<img data-src="holder.js/100%x70" alt="...">
												<div class="caption">Thumbnail label</div>
											</div>
										</div>
										<div class="col-md-10">
											<div class="panel panel-default">
												<div class="panel-body">bla bal abla</div>
											</div>

										</div>
									</div>
									<div class="row">
										<div class="col-md-2">
											<div class="thumbnail">
												<img data-src="holder.js/100%x70" alt="...">
												<div class="caption">Thumbnail label</div>
											</div>
										</div>
										<div class="col-md-10">
											<div class="panel panel-default">
												<div class="panel-body">bla bal abla</div>
											</div>


										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="panel panel-default">
												<div class="panel-heading">Give an advice</div>
												<div class="panel-body">
													<form role="form" method="post">
														<input type="hidden" name="enterHere" class="hidden"> 
														<div class="form-group">
															<div class="input-group col-md-4">
																<span class="input-group-addon"><i
																	class="fa fa-user"></i></span> <input type="text"
																	class="form-control" id="exampleInputEmail1"
																	placeholder="Enter your name">
															</div>

														</div>
														<div class="form-group">
															<div class="input-group col-md-4">
																<span class="input-group-addon">@</span> <input
																	type="email" class="form-control"
																	id="exampleInputEmail1" placeholder="Enter email">
															</div>

														</div>

														<div class="form-group">
															<label for="exampleInputPassword1"> Give your
																advice</label>
															<div class="input-group col-md-6">
																<span class="input-group-addon"><i
																	class="fa fa-info"></i> </span>
																<textarea class="form-control" rows="3"
																	id="exampleInputPassword1"></textarea>
															</div>

														</div>

														<button type="submit" class="btn btn-primary ">Submit
															advice</button>
													</form>
												</div>
											</div>

										</div>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>
				<div id="sidebar" class="col-md-2 .hidden-xs">sidebarContainer</div>
			</div>



		</div>
	</div>
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h4>About us</h4>
					ubukwenyarwanda.biz helps you to get the best wedding services
				</div>
				<div class="col-md-5">
					<h4>Contact us</h4>
					info@ubukwenyarwanda.com <br /> +250(0)78 67 99 000
				</div>
				<div class="col-md-2">
					<h4>Connect with us</h4>
					<div class="btn-group">
						<button class="btn">
							<i class="fa fa-facebook-square  fa-stack-2x"></i>&nbsp; &nbsp;
						</button>
						<button class="btn">
							<i class="fa fa-twitter-square fa-stack-2x"></i>&nbsp; &nbsp;
						</button>
						<button class="btn">
							<i class="fa fa-google-plus-square fa-stack-2x"></i>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../../resources/js/bootstrap.min.js"></script>
	<script src="../../../resources/js/holder.js"></script>
	<script
		src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script
		src="plugins/bs-image-gallery-3.1.0/js/bootstrap-image-gallery.min.js"></script>
	<script type="text/javascript">
	$('.carousel').carousel({
		  interval: 2000
		})
	</script>
</body>
</html>