<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="adminpanel/fragments/mainAdminLayout">

<head>
<title th:text="#{province.title}">Provinces</title>
</head>
<body>
	<div layout:fragment="pageContent">


		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header" th:text="#{province.title}">Provinces</h1>


			<div th:if="${message}" class="alert alert-success" th:text="${message}">Cool</div>
			<h2 class="sub-header" th:text="#{province.list.title}">Listing provinces</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th th:text="#{province.list.libelle}">Libelle</th>
							<th th:text="#{province.list.enabled}">Enabled</th>
							<th th:text="#{province.list.actions}">Actions</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="province : ${provinces}" th:classappend="${provinceStat.odd}? 'odd'">
							<td th:text="${province.id}">1</td>
							<td th:text="${province.libelle}">Kigali</td>
							<td th:text="${province.enabled}">Ok</td>
							<td class="dropdown"><a id="dLabel" data-toggle="dropdown" href="#"> <span th:text="#{province.list.actions}">Actions</span>
									<span class="caret"></span></a>
								<ul class="dropdown-menu no-collapse" role="menu" aria-labelledby="dLabel">
									<li><a href="#" th:href="@{/admin/provinces/edit(id=${province.id})}"> <span th:text="#{province.list.edit}">edi</span></a>

									</li>
									<li><a href="#" th:href="@{/admin/provinces/delete(id=${province.id})}"> <span th:text="#{province.list.delete}">delete</span></a>

									</li>
								</ul></td>
						</tr>
						<tr th:remove="all">
							<td>1,002</td>
							<td>amet</td>
							<td>elit</td>
							<td>elit</td>
						</tr>



					</tbody>
				</table>
			</div>

			<div th:replace="frontendPaginator :: paginator ">
				<ul class="pagination pagination-lg">
					<li><a href="#">&laquo;</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>
			</div>

			<div>


				<form role="form" action="#" th:action="@{/admin/provinces/add}" th:object="${province}" method="post">

					<input type="text" hidden="hiddedn" th:field="*{id}" class="hidden" />
					<div class="form-group">
						<div class="input-group">
							<label for="libelle" th:text="#{province.list.libelle}">Libelle</label> <input id="libelle" type="text"
								class="form-control" th:field="*{libelle}" placeholder="Enter name" />

						</div>

					</div>
					<div class="form-group">
						<div class="input-group">
							<label for="enabled" th:text="#{province.list.enabled}">Enabled</label> <input id="enabled" type="checkbox"
								class="form-control" th:field="*{enabled}" />

						</div>

					</div>


					<button type="submit" th:text="#{add.button.label}" class="btn btn-primary">Action</button>



				</form>
			</div>
		</div>


	</div>
</body>

</html>
