<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 

layout:decorator="adminpanel/fragments/mainAdminLayout">

<head>
<title th:text="#{photo.title}">Photos</title>
</head>
<body >
	<div layout:fragment="pageContent">
			
			<div th:if="${message}" class="alert alert-success" > 
			<a href="#" class="close" data-dismiss="alert">&times;</a> 
			<span th:text="${message}">Cool</span>
			</div>
			<h3 class="sub-header" th:text="#{photos.list.title}">Listing  photos</h3>
					
			<div class="well well-sm">
				 <a href="#" th:href="@{/admin/photos/new}">  			
  				<button type="button" class="btn  btn-primary btn-xs">
         			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> &nbsp;	
         			<span th:text="#{list.addHomePagePhoto}">Add home page photo</span>
       			</button>
				</a> 
		</div>
			
			<div class="table-responsive">
				<table id="listPhoto" class="table table-striped table-bordered table-hover" >
					<thead>
						<tr>
							
							<th class="col-sm-2" th:text="#{photo.list.name}" >Name</th>
							<th class="col-sm-3" th:text="#{photo.list.description}">Description</th>
														
							<th class="col-sm-1" th:text="#{list.lastupdate}" >Last update</th>							
							<th class="col-sm-1" th:text="#{list.createdat}"  >Created at</th>
							<th class="col-sm-1" th:text="#{list.enabled}"  >Enabled</th>
							<th class="col-sm-1"  th:text="#{list.actions}" >Actions</th> 			

						</tr>
					</thead>
					<tbody>
						<tr th:each="photo : ${photos}" th:classappend="${photoStat.odd}? 'odd'">
													
							<td>							
								<img class="img-thumbnail"  width="100" height="100" alt="Photo" th:if="${!#strings.isEmpty(photo.filename)}" th:alt="${photo.filename}" th:src="@{'http://cdn.ubukwebwiza.com/'+${photo.filename}} "></img>
								<img class="img-thumbnail"  width="100" height="100" alt="Photo" th:if="${#strings.isEmpty(photo.filename)}" th:alt="${photo.filename}" th:src="@{/resources/images/application/no_person.jpg} "></img>
							
							</td>							
							<td th:text="${photo.description}">Wedding Planning</td>
							
							<td th:text="${#dates.format(photo.lastUpdate, 'dd/MM/yyyy HH:mm:ss')}">Ok</td>
							<td th:text="${#dates.format(photo.createdAt, 'dd/MM/yyyy HH:mm:ss')}">Ok</td>
							<td th:text="${photo.enabled}">Ok</td>
							<td class="dropdown">
							<a th:if="${photo.category == 3}"  class="dropdown-toggle" data-toggle="dropdown" href="#">
							 <span th:text="#{list.actions}">Actions</span>	<span class="caret"></span>
							</a>
								<ul class="dropdown-menu" role="menu" >
									<li th:if="${photo.category == 3}"><a  href="#" th:href="@{/admin/photos/edit(id=${photo.id})}">
									
											<button type="button" class="btn btn-default btn-xs">
         									  <span class="glyphicon glyphicon-pencil"></span>&nbsp; <span th:text="#{list.edit}">edit</span>
       								 		 </button>
										
									 </a>

									</li>
									<li th:if="${photo.category == 3}">
									
									<a href="#" th:href="@{/admin/photos/delete(id=${photo.id})}" class="deleteHomePagePhoto confirmDelete">
											
											<button type="button" class="btn btn-default btn-xs">
         									  <span class="glyphicon glyphicon-trash"></span>&nbsp; <span th:text="#{list.delete}">delete</span>
       								 		 </button>
									
									
									</a>

									</li>
								</ul>
								</td> 
						</tr>
						<tr th:remove="all">
							<td>1,002</td>
							<td>amet</td>
							<td>elit</td>
							<td>elit</td>
						</tr>



					</tbody>
				</table>
			</div>

			<div th:replace="util :: paginator ">
				<ul class="pagination pagination-lg">
					<li><a href="#">&laquo;</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>
			</div>

			<div>				
			</div>		
</div>
	
</body>
</html>
