<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="frontend/fragments/mainLayout">
<head>
<title th:text="#{editProfile.title(${provider.businessName})}">Ubukwebwiza - Edit provider's profile</title>
</head>
<body>

	

		<!-- Main Content -->
		<div layout:fragment="pageContent" id="content" >
		<div th:if="${error}" class="alert alert-danger fade in">
			<a href="#" class="close" data-dismiss="alert">&times;</a> <span
				th:text="${error}"></span> Error
		</div>
		<div th:if="${message}" class="alert alert-success fade in">
			<a href="#" class="close" data-dismiss="alert">&times;</a> <span
				th:text="${message}">Success</span>
		</div>
		<div class="row">
		<!-- Side bar menu -->
				<div th:replace="util :: sidebarMenu">&nbsp;</div>
				 <div class="col-md-10 ">
				 	<form role="form" th:action="@{/profile/update}" th:object="${provider}" 	method="post" enctype="multipart/form-data">
						<input type="text" hidden="hidden" th:field="*{id}" class="hidden" />
							
							<div class="row">
								<div class="col-md-4 " th:classappend="${#fields.hasErrors('profilPicture')}? has-error">
																							

									<div class="fileinput fileinput-new" data-provides="fileinput">
										<div class="fileinput-new thumbnail" >
											<img data-src="holder.js/100%x100%" alt="Select profile pic"
												th:unless="*{profilPicture}"></img> 
												<img
												id="profilPicturePreview" 
												alt="profile pic" th:if="*{profilPicture}"
												th:alt="${businessName}"
												th:src="@{'https://ubfiles.s3.amazonaws.com/'+*{profilPicture.filename}} "></img>

										</div>
										
										<div class="fileinput-preview fileinput-exists thumbnail" ></div>
										<div>
											<span class="btn btn-default btn-file"><span
												class="fileinput-new">Select image</span><span
												class="fileinput-exists">Change</span>
												<input type="file" 	name="file" /></span> <a href="#"
												class="btn btn-default fileinput-exists"
												data-dismiss="fileinput">Remove</a>
										</div>
									</div>
									<span class="text-danger"
										th:if="${#fields.hasErrors('profilPicture')}"
										th:errors="*{profilPicture}">Required field</span>
								

							


								</div>
								<div class="col-md-4 ">
									<div class="panel  panel-default">

										<div class="panel-body">
											
												<div class="form-group" th:classappend="${#fields.hasErrors('businessName')}? has-error">
													<label for="businessName" th:text="#{provider.list.businessname}">Business name</label>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-user"></i></span> <input type="text" th:field="*{businessName}" 
															class="form-control" id="businessName" required="required" maxlength="30"
															placeholder="Enter your business name"/> <span class="text-danger"
										th:if="${#fields.hasErrors('businessName')}"
										th:errors="*{businessName}">Required field</span>
													</div>

												</div>
												<div class="form-group" th:classappend="${#fields.hasErrors('district')}? has-error">
													<label for="district" th:text="#{provider.list.district}">Location</label>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-map-marker"></i> </span> 
															<select th:field="*{district.id}" id="idDistrict" required="required"
															class="form-control">
															<option value="" th:text="#{common.select.prompt}"></option>
										<option th:each="district : ${allDistricts}"
											th:value="${district.id}" th:text="${district.libelle}">Nyarugenge</option>
														</select><span class="text-danger"
										th:if="${#fields.hasErrors('district')}"
										th:errors="*{district}">Required field</span>
													</div>
												</div>
												<div class="form-group" 	th:classappend="${#fields.hasErrors('address')}? has-error">
													<label for="address" th:text="#{provider.list.address}">Adresse</label>
													<textarea class="form-control" rows="2" id="address" th:field="*{address}"></textarea>
													<span class="text-danger"
										th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Required
										field</span>
												</div>
												<div class="form-group" th:classappend="${#fields.hasErrors('phoneNumber')}? has-error">
													<label for="phoneNumber" th:text="#{provider.list.phonenumber}">Phone number</label>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-phone"></i></span> <input type="text" th:field="*{phoneNumber}" maxlength="50"
															class="form-control" id="phoneNumber"
															placeholder="Enter your phonenumber"/>
															<span class="text-danger"
										th:if="${#fields.hasErrors('phoneNumber')}"
										th:errors="*{phoneNumber}">Required field</span>
													</div>

												</div>

											
										</div>
									</div>


								</div>
							
							</div>
							<!-- <div class="row">
								<div class="col-md-12 ">
									<div class="pull-right">
										<button type="submit" class="btn btn-primary"><span th:text="#{update.button.label}">Update</span></button>
									</div>

								</div>
							</div> -->
							</form>
				 </div>
				
			</div>
		
	<div class="modal fade bs-modal-xs" tabindex="-1" role="dialog"
		id="confirm" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xs">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">ï¿½</a>
					<h5>Confirm</h5>
				</div>
				<div class="modal-body">Are your sure ?</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-danger">Delete</a> <a href="#"
						class="btn btn-cancel" data-dismiss="modal">Cancel</a>
				</div>
			</div>

		</div>
	</div>
	
	
	<div id="dialog-confirm" title="Concfirm delete"
			style="display: none;" th:title="#{dialog.confirm.delete.title}">
			<p>
				<span class="ui-icon ui-icon-alert"
					style="float: left; margin: 0 7px 20px 0;"
					th:text="#{dialog.confirm.delete}"></span>These items will be
				permanently deleted and cannot be recovered. Are you sure?
			</p>
		</div>
		</div>
	
	


	
	
	
</body>
</html>