<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="frontend/fragments/mainLayout">
<head>
<title th:text="#{editProfile.title(${provider.businessName})}">Ubukwebwiza - Edit provider's profile</title>
</head>
<body>

	

		<!-- Main Content -->
		<div layout:fragment="pageContent" id="content" >
		
		<div class="row">
				<!-- Content -->
				<div id="content" class="col-md-12">
				
					<!-- Nav tabs -->
					<ul class="nav nav-tabs responsive" id="editProfileTab">
						<li  th:classappend="${currentTab == 'personnalInfo' ? 'active' : ''}" ><a href="#personnalInfo" data-toggle="tab" th:text="#{message.editProfile.myAccount}">Profile </a></li>
						<li th:classappend="${currentTab == 'accountInfo' ? 'active' : ''}" role="accountInfo"><a href="#accountInfo" aria-controls="accountInfo" role="tab" data-toggle="tab" th:text="#{message.editProfile.accountInfo}">Account Info</a></li>
						<li th:classappend="${currentTab == 'photos' ? 'active' : ''}"><a href="#photos" data-toggle="tab" th:text="#{message.editProfile.photos}">Photos</a></li>
						<li th:classappend="${currentTab == 'services' ? 'active' : ''}"><a href="#services" data-toggle="tab" th:text="#{message.editProfile.services}">Services</a></li>
						<li th:classappend="${currentTab == 'socialMedia' ? 'active' : ''}"><a href="#socialMedia" data-toggle="tab" th:text="#{message.editProfile.socialMedia}">Social media</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content responsive">
						
        
        
            <!-- Personnal info pane -->
						<div class="tab-pane fade in " th:classappend="${currentTab == 'personnalInfo' ? 'active' : ''}" id="personnalInfo">
						<div th:if="${errorPersonnalInfo}"
							class="alert alert-danger fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <span
								th:text="${errorPersonnalInfo}">Error</span>
						</div>
						<div th:if="${messagePersonnalInfo}"
							class="alert alert-success fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <span
								th:text="${messagePersonnalInfo}">Success</span>
						</div>
						<form role="form" th:action="@{/profile/update}" th:object="${provider}" 	method="post" enctype="multipart/form-data">
						<input type="text" hidden="hidden" th:field="*{id}" class="hidden" />
							
							<div class="row">
								<div class="col-md-2 " th:classappend="${#fields.hasErrors('profilPicture')}? has-error">
																							

									<div class="fileinput fileinput-new" data-provides="fileinput">
										<div class="fileinput-new thumbnail"  style="width: 150px; height: 150px;" >
											<img data-src="holder.js/100%x100%" alt="Select profile pic"
												th:unless="*{profilPicture}"></img> 
												<img
												id="profilPicturePreview" 
												alt="profile pic" th:if="*{profilPicture}"
												th:alt="${businessName}"
												th:src="@{'https://ubfiles.s3.amazonaws.com/'+*{profilPicture.filename}} "></img>

										</div>
										
										<div class="fileinput-preview fileinput-exists thumbnail"></div>
										<div>
											<span class="btn btn-default btn-file"><span
												class="fileinput-new" th:text="#{message.editProfile.changeProfilePicture}">Change photo</span><span
												class="fileinput-exists">Change</span>
												<input type="file" 	name="file" /></span> <a href="#"
												class="btn btn-default fileinput-exists"
												data-dismiss="fileinput">Remove</a>
										</div>
									</div> 
									
									


									<span class="text-danger"
										th:if="${#fields.hasErrors('profilPicture')}"
										th:errors="*{profilPicture}">Required field</span>
								

							


								</div>
								<div class="col-md-5 ">
									<div class="panel  panel-default">

										<div class="panel-body">
											
												<div class="form-group" th:classappend="${#fields.hasErrors('businessName')}? has-error">
													<label for="businessName" th:text="#{provider.list.businessname}">Business name</label>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="fa fa-user"></i></span> <input type="text" required="required"
														th:field="*{businessName}" class="form-control"
														id="businessName" maxlength="30"
														placeholder="Enter your business name" /> 
														
												</div>
												<span
														class="text-danger"
														th:if="${#fields.hasErrors('businessName')}"
														th:errors="*{businessName}">Required field</span>
											</div>
												<div class="form-group" th:classappend="${#fields.hasErrors('district')}? has-error">
													<label for="district" th:text="#{provider.list.district}">Location</label>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="fa fa-map-marker"></i> </span> <select
														th:field="*{district.id}" id="idDistrict"
														required="required" class="form-control">
														<option value="" th:text="#{common.select.prompt}"></option>
														<option th:each="district : ${allDistricts}"
															th:value="${district.id}" th:text="${district.libelle}">Nyarugenge</option>
													</select>
												</div>
												<span class="text-danger"
														th:if="${#fields.hasErrors('district')}"
														th:errors="*{district}">Required field</span>
											</div>
											<div class="form-group"
												th:classappend="${#fields.hasErrors('address')}? has-error">
												<label for="address" th:text="#{provider.list.address}">Adresse</label>
												<textarea class="form-control" rows="2" id="address"
													th:field="*{address}"></textarea>
												<span class="text-danger"
													th:if="${#fields.hasErrors('address')}"
													th:errors="*{address}">Required field</span>
											</div>
											<div class="form-group"
												th:classappend="${#fields.hasErrors('phoneNumber')}? has-error">
												<label for="phoneNumber"
													th:text="#{provider.list.phonenumber}">Phone number</label>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="fa fa-phone"></i></span> <input type="text"
														th:field="*{phoneNumber}" maxlength="50"
														class="form-control" id="phoneNumber"
														placeholder="Enter your phonenumber" /> 
												</div>
												<span
														class="text-danger"
														th:if="${#fields.hasErrors('phoneNumber')}"
														th:errors="*{phoneNumber}">Required field</span>
											</div>


										</div>
									</div>


								</div>
								<div class="col-md-5 ">
									<div class="panel  panel-default">

										<div class="panel-body">
											
											
												<div class="form-group" 	th:classappend="${#fields.hasErrors('aboutme')}? has-error">
													<label for="address" th:text="#{provider.list.aboutme}">About me</label>
													<textarea class="form-control" rows="5" id="aboutme" th:field="*{aboutme}" maxlength="500"></textarea>
													<span class="text-danger"
										th:if="${#fields.hasErrors('aboutme')}" th:errors="*{aboutme}">Required
										field</span>
												</div>

												

										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 ">
									<div class="pull-right">
										<button type="submit" class="btn btn-primary"><span th:text="#{update.button.label}">Update</span></button>
									</div>

								</div>
							</div>
							</form>
						
        </div>
  
						
						<!-- Account info pane -->
						<div class="tab-pane fade in " th:classappend="${currentTab == 'accountInfo' ? 'active' : ''}" id="accountInfo">
						<div th:if="${errorAccountInfo}" class="alert alert-danger fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <span
								th:text="${errorAccountInfo}">Error</span>
						</div>
						<div th:if="${messageAccountInfo}"
							class="alert alert-success fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <span
								th:text="${messageAccountInfo}">Success</span>
						</div>
							<form role="form"  th:action="@{/profile/updateAccount}" method="post">
								<div class="form-group">
									<label for="email" th:text="#{provider.list.email}">Email</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope"></i></span> <input th:field="${provider.account.email}"
											id="email" type="email" disabled="disabled"
											value="email@example.com"/>

									</div>
								</div>
								<div>
									<hr />

								</div>
								<!-- <div class="form-group">
									<label for="currentPassword" th:text="#{provider.list.currentPassword}">Current password</label>
									<div class="input-group col-md-5">
										<span class="input-group-addon"><i class="fa fa-lock"></i>
										</span> <input type="password" class="form-control" id="currentPassword" required="required"
											placeholder="current password" name="currentPassword"/>
									</div>
								</div> -->
								<div id="pwd-container"> 
								<div class="form-group"  >
									<label for="userPassword" th:text="#{provider.list.newPassword}">New password</label>
									<div class="input-group col-md-5">
										<span class="input-group-addon"><i class="fa fa-lock"></i>
										</span> <input type="password" class="form-control " id="userPassword"  required="required"
											placeholder="new password" name="password"/>
									</div>
									
								</div>
								</div> 
								<div class="form-group" >
									<label for="inputNp" th:text="#{provider.list.retypeNewPassword}">Retype new password</label>
									<div class="input-group col-md-5">
										<span class="input-group-addon"><i class="fa fa-lock"></i>
										</span> <input type="password" class="form-control " id="inputNp"
											placeholder="Retype new password" name="passwordConfirm" required="required"/>
									</div>
									
								</div>

								<div class="form-group">
									<div class="input-group col-md-5" >
										<button type="submit" class="btn btn-primary">
										<span th:text="#{update.button.label}">Update</span>
										</button>
									</div>
								</div>


							</form>

						</div>
						<!-- Photos pane -->
						<div class="tab-pane fade in " th:classappend="${currentTab == 'photos' ? 'active' : ''}"  id="photos">
							<div class="row" th:fragment="photos-bloc">
								<div class="col-md-12 container">
									<div th:if="${errorPhoto}" class="alert alert-danger fade in" >
									<a href="#" class="close" data-dismiss="alert">&times;</a>
								<span th:text="${errorPhoto}"></span> 
								</div>
								<div th:if="${messagePhoto}" class="alert alert-success fade in" >
									<a href="#" class="close" data-dismiss="alert">&times;</a>
									<span th:text="${messagePhoto}">Success</span>
								</div>
								<div class="alert alert-danger" id="errors" style="display: none;">
<!-- 									<a href="#" class="close" data-dismiss="alert">&times;</a>	 -->
									<span id="errorMessage">Error</span>							
								</div>
								<!-- Free account can add only 5 photos -->
									<div>
										<a id="showAddPhotoForm" href="#" class=" btn btn-primary btn-xs"
											th:if="${#bools.isTrue(canAddMorePhoto)}" 
											th:text="#{message.editProfile.addPhoto}"> Add photo </a>
									</div>
									
									
									<br />
									
									<div id="editPhotoBox" style=" display: none;">
										<div class="panel panel-default">
											<div class="panel-body">
											<form role="form" enctype="multipart/form-data" th:action="@{/profile/addPhoto}" th:object="${photoForm}" id="addPhotoForm"
												method="post">
												<input type="text" hidden="hidden" th:field="*{id}"
													id="idPhoto" th:id="idPhoto" class="hidden" />
												<div class="form-group"
													th:classappend="${#fields.hasErrors('name')}? has-error">

													 
														<div class="fileinput fileinput-new"
															data-provides="fileinput">
															<div class="fileinput-new thumbnail" style="width: 225px; height: 200px;">
															
															<img data-src="holder.js/100%x100%" id="profilPictureHolder" 
																	alt="Select profile pic" th:unless="*{name}"></img> 
															
															<img id="profilPicturePreview" width="225" height="200"
																	alt="pic" th:if="*{name}"
																	th:src="@{'https://ubfiles.s3.amazonaws.com/'+*{name}} "></img>

															</div>
															<div class="fileinput-preview fileinput-exists thumbnail" style="width: 225px; height: 200px;"></div>
															<div>
																<span class="btn btn-default btn-file"><span
																	class="fileinput-new">Select image</span><span
																	class="fileinput-exists">Change</span> 
																	<input	type="file" name="file" /></span> 
																	<a href="#" class="btn btn-default fileinput-exists"
																	data-dismiss="fileinput">Remove</a>
															</div>
														</div>


														<span class="text-danger"
															th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Required
															field</span>
												 	



												</div>
												<div class="form-group"
													th:classappend="${#fields.hasErrors('description')}? has-error">
													<!-- <div class="col-sm-7"> -->
														<label for="description" class="control-label"
															th:text="#{photo.list.description}">description</label>

														<textarea id="description" rows="3" cols="2" maxlength="500"
															class="form-control" th:field="*{description}"></textarea>

														<span class="text-danger"
															th:if="${#fields.hasErrors('description')}"
															th:errors="*{description}">Required field</span>

													<!-- </div> -->
												</div>
												<div class="form-group"
													th:classappend="${#fields.hasErrors('enabled')}? has-error">
													<!-- <div class="col-sm-7"> -->

														<div class="checkbox">
															<label> <input type="checkbox"
																th:field="*{enabled}" /> <span
																th:text="#{provider.list.enabled}">Enabled</span> <br />
																<span class="text-danger"
																th:if="${#fields.hasErrors('enabled')}"
																th:errors="*{enabled}">check field</span>
															</label>
														</div>

													<!-- </div> -->

												</div>
												<div class="form-group ">
													<button type="button" id="hideAddPhotoForm"
														class="btn  btn-default btn-sm" data-dismiss="profilPicturePreview"><span th:text="#{cancel.button.label}">Cancel</span></button>
													<button type="submit" class="btn  btn-primary btn-sm"><span th:text="#{add.button.label}">Add</span></button>
													<div id="saving"></div>
													</div>


											</form>
										</div>
										</div>



									</div>
										<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
							<div id="blueimp-gallery" class="blueimp-gallery" >
								<!-- The container for the modal slides -->
								<div class="slides"></div>
								<!-- Controls for the borderless lightbox -->
								<h3 class="title"></h3>
								<a class="prev">‹</a> <a class="next">›</a> <a class="close">×</a>
								<a class="play-pause"></a>
								<ol class="indicator"></ol>
								<!-- The modal dialog, which will be used to wrap the lightbox content -->
								<div class="modal fade">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" aria-hidden="true">&times;</button>
												<h4 class="modal-title"></h4>
											</div>
											<div class="modal-body next"></div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default pull-left prev">
													<i class="glyphicon glyphicon-chevron-left"></i> Previous
												</button>
												<button type="button" class="btn btn-primary next">
													Next <i class="glyphicon glyphicon-chevron-right"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
									<div id="listingFashionBox" class="row">
										<div id="links">
										<th:bloc th:each="photo : ${provider.photos}">
											<div class="fashionBox col-md-3">
											<div class="panel panel-default">
												<div class="panel-body">
													<a
												href="../../../../resources/images/application/wedding_4_content.jpg"
												title="Wedding planner" th:title="${photo.description}"
												data-gallery=""
												th:href="@{'https://ubfiles.s3.amazonaws.com/'+${photo.filename}}">
													
													<img alt="Cool stuff" src="../../../../resources/images/application/wedding_4_content.jpg"
													 th:alt="${photo.description}"
												th:src="@{'https://ubfiles.s3.amazonaws.com/'+${photo.filename}}" 
														width="225" height="200"/> 
														</a>
														<br />
														 <span th:text="${photo.description}"
														class="title2">Cool stuff</span> <br /> 
														<a th:href="@{/profile/editPhoto(id=${photo.id})}"
															href="#" class="editProfilePhoto"> 
																 <span th:text="#{list.edit}">Edit</span> 
																 </a> | 
															<a class="deleteProfilePhoto" href="#"
																th:href="@{/profile/deletePhoto(id=${photo.id})}"> 	 <span th:text="#{list.delete}">delete</span> </a>
														
												
												</div>
											</div>

										</div>
										
										</th:bloc>

										<div class="fashionBox col-md-3" th:remove="all">
											<div class="panel panel-default">
												<div class="panel-body">
													<img alt="Cool stuff" src="images/thumbnails/orange.jpg"
														width="180" height="200"/> <br /> <span
														class="title2">Cool stuff</span> <br /> <a
														href="JavaScript:editFashion();" th:text="#{message.editProfile.edit}"> Edit</a> | <a
														class="deletePhoto" href="#;" th:text="#{message.editProfile.delete}"> Delete </a>
												</div>
											</div>

										</div>
									
								
									</div>


									</div>
								</div>
							</div>

						</div>
						<!-- Services pane -->
						<div class="tab-pane fade in " th:classappend="${currentTab == 'services' ? 'active' : ''}"  id="services" >
							
							<div class="row" th:fragment="services-bloc" >
								<div class="col-md-12">
								<div th:if="${errorService}" class="alert alert-danger fade in" >
									<a href="#" class="close" data-dismiss="alert">&times;</a>
								<span th:text="${errorService}">Error</span> 
								</div>
								<div th:if="${messageService}" class="alert alert-success fade in" >
									<a href="#" class="close" data-dismiss="alert">&times;</a>
									<span th:text="${messageService}">Success</span>
								</div>
								<a id="showAddServiceForm" href="#" class=" btn btn-primary btn-xs"
								 th:text="#{message.editProfile.addService}" th:if="${#lists.isEmpty(provider.providerWeddingServices)}">
										Add Service </a><br /><br />
								
									
									<div id="editServiceBox" style="display: none;">
									
									<div class="panel panel-default">
										<div class="panel-body">
												<form role="form" id="addServiceForm" th:action="@{/profile/addService}" th:object="${serviceForm}" method="POST">
												<input type="text" hidden="hidden" th:field="*{id}" id="idService" th:id="idService" class="hidden" />
												<div class="form-group">
													<label for="idcService" th:text="#{providerWeddingService.list.service}">Service</label>
													<div class="input-group col-md-4">
														<span class="input-group-addon"><i
															class="fa fa-tasks"></i></span> 
																<select th:field="*{idcService}" id="idcService" class="form-control" required="required">
																<!-- <option value=""></option> -->
																<option th:each="weddingService : ${allWeddingServices}" th:value="${weddingService.id}"
																th:text="${weddingService.libelle}">Wedding planner</option>
																</select>
																
															
													</div>

												</div>
												<div class="form-group">
													<label for="description" th:text="#{providerWeddingService.list.serviceDescription}">Description</label>
													<div class="input-group col-md-4">
														<span class="input-group-addon"><i
															class="fa fa-info"></i></span> <textarea th:field="*{description}"
															class="form-control" id="description"
															></textarea>
													</div>

												</div>
												<div class="form-group"
													th:classappend="${#fields.hasErrors('enabled')}? has-error">

													<div class="col-sm-2">
														<div class="checkbox">
															<label> <input type="checkbox"
																th:field="*{enabled}" /> <span
																th:text="#{provider.list.enabled}">Enabled</span> <br />
																<span class="text-danger"
																th:if="${#fields.hasErrors('enabled')}"
																th:errors="*{enabled}">check field</span>
															</label>
														</div>
													</div>


												</div>


												<div class="form-group ">
														<button type="button" id="hideAddServiceForm"
															class="btn  btn-default btn-sm"><span th:text="#{cancel.button.label}">Cancel</span></button>
														<button type="submit" class="btn  btn-primary btn-sm" th:text="#{add.button.label}">Add</button>
													</div>


											</form>
										
										</div>
									</div>
									
									
									
									</div>
									<div id="listingPrestationBox"
										style="display: block; border: none;">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr class="active">
														<th align="left">Service</th>
														<th align="left"></th>

													</tr>
												</thead>
												<tbody>
												
											
												
 											 <th:bloc th:each="providerWeddingService : ${provider.providerWeddingServices}">											
												
												<tr>
														
														<td>
														<h4>
														<span
														th:text="${providerWeddingService.weddingService.libelle}">Wedding
														Planning</span> </h4>
														
																	<h5><span th:text="${providerWeddingService.description}"> I do
														all the job from A to Z </span></h5></td>
														<td></td>

													</tr>
													<tr>
														<td colspan="2">
														<a th:href="@{/profile/editService(id=${providerWeddingService.id})}"
															href="#" class="editProfileService"> 
																 <span th:text="#{list.edit}">Edit</span> </a> 
																<!-- In a free account you can not delete the only service  -->
																<!--  | <a class="deleteProfileService" href="#"
																th:href="@{/profile/deleteService(id=${providerWeddingService.id})}">
																 	 <span th:text="#{list.delete}">delete</span> </a> -->
																 	 
																
																</td>
																
													</tr>
													
												

											
										</th:bloc>
									
									
													
													<tr th:remove="all">
														
														<td>name<br /> 
																description</td>
														<td></td>

													</tr>
													<tr th:remove="all">
														<td colspan="2"><a
															href="JavaScript:editPrestation();">
																Edit </a> | <a class="deleteServiceBox"
															href="#">
																Delete </a></td>
													</tr>
													</tbody>
											</table>
											</div>

									</div>
								</div>

							</div>
						</div>
						     <!-- Social media pane -->
						<div class="tab-pane fade in " th:classappend="${currentTab == 'socialMedia' ? 'active' : ''}" id="socialMedia">
						<div th:if="${errorSocialMedia}"
							class="alert alert-danger fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <span
								th:text="${errorSocialMedia}">Error</span>
						</div>
						<div th:if="${messageSocialMedia}"
							class="alert alert-success fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <span
								th:text="${messageSocialMedia}">Success</span>
						</div>
						<form role="form" th:action="@{/profile/updateSocialMedia}" th:object="${provider}" 	method="post" >
						<input type="text" hidden="hidden" th:field="*{id}" class="hidden" />
							
							<div class="row">
							
							
								<div class="col-md-4 ">
									<div class="panel  panel-default">

										<div class="panel-body">
											
												<div class="form-group" th:classappend="${#fields.hasErrors('website')}? has-error">
													<label for="website" th:text="#{provider.list.website}">Website</label>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-link"></i></span> <input type="text"
															class="form-control" id="website" th:field="*{website}"
															placeholder="Enter your Website url " aria-describedby="wHelpBlock"/>
															
															<span class="text-danger" th:if="${#fields.hasErrors('website')}" th:errors="*{website}">Required field</span>
													</div>
													<span id="wHelpBlock" class="help-block">Your website url (www.yourdomain.com)</span>

												</div>
												<div class="form-group" th:classappend="${#fields.hasErrors('fbUsername')}? has-error">
													<label for="fbUsername" th:text="#{provider.list.fbusername}">Facebook user name</label>
													<div class="input-group">
														<span class="input-group-addon">
																			<i class="fa fa-facebook"></i>									
														</span> <input type="text"
															class="form-control" id="fbUsername" th:field="*{fbUsername}" 
															placeholder="Enter your facebook page url " aria-describedby="fbHelpBlock"/>
															
															<span class="text-danger" th:if="${#fields.hasErrors('fbUsername')}" th:errors="*{fbUsername}">Required field</span>
													</div>
													<span id="fbHelpBlock" class="help-block">Your facebook page url (www.facebook.com/yourname)</span>

												</div>
												<div class="form-group" th:classappend="${#fields.hasErrors('twitterUsername')}? has-error">
													<label for="twitterUsername" th:text="#{provider.list.twitterusername}">Twitter user name</label>
													<div class="input-group">
														<span class="input-group-addon">	<i class="fa fa-twitter"></i> 				
														</span> <input type="text" th:field="*{twitterUsername}" 
															class="form-control" id="twitterUsername"
															placeholder="Enter your twitter page url" aria-describedby="tHelpBlock"/>
															
															<span class="text-danger" th:if="${#fields.hasErrors('twitterUsername')}" th:errors="*{twitterUsername}">Required field</span>
													</div>
														<span id="tHelpBlock" class="help-block">Your twitter page url (www.twitter.com/yourname)</span>
												</div>

												<!-- <div class="form-group">
													<label for="exampleInputEmail1">Google plus user
														name</label>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-google-plus"></i></span> <input type="text"
															class="form-control" id="exampleInputEmail1"
															placeholder="Enter user name"/>
													</div>

												</div> -->



											

										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 ">
									<div class="pull-right">
										<button type="submit" class="btn btn-primary"><span th:text="#{update.button.label}">Update</span></button>
									</div>

								</div>
							</div>
							</form>
						
        </div>
					</div>






				</div>
				
			</div>
		
	<div class="modal fade bs-modal-xs" tabindex="-1" role="dialog"
		id="confirm" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xs">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">ï¿½</a>
					<h5>Confirm</h5>
				</div>
				<div class="modal-body">Are your sure ?</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-danger">Delete</a> <a href="#"
						class="btn btn-cancel" data-dismiss="modal">Cancel</a>
				</div>
			</div>

		</div>
	</div>
	
	
	<div id="dialog-confirm" title="Concfirm delete"
			style="display: none;" th:title="#{dialog.confirm.delete.title}">
			<p>
				<span class="ui-icon ui-icon-alert"
					style="float: left; margin: 0 7px 20px 0;"
					th:text="#{dialog.confirm.delete}"></span>These items will be
				permanently deleted and cannot be recovered. Are you sure?
			</p>
		</div>
		</div>
	
	


	
	
	
</body>
</html>