<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="frontend/fragments/mainLayout">
<head>
<title th:text="#{editProfile.title(${provider.businessName})}">Ubukwebwiza
	- Edit provider's profile</title>
</head>
<body>

	<!-- Main Content -->
	<div layout:fragment="pageContent" id="content">
<nav th:replace="accountMenu :: menu"> </nav>
		<div class="row">
			<!-- Content -->
			<div id="content" class="col-md-12">

				<div class="media">
					<div class="media-left media-top">
						<a href="#"> <img class="media-object" src="..." alt="..."></img>
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Hello</h4>
						...
					</div>
				</div>
				
				<div class="media">
					<div class="media-left media-top">
						<a href="#"> <img class="media-object" src="..." alt="..."></img>
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Hello</h4>
						...
					</div>
				</div>
				
				<div class="media">
					<div class="media-left media-top">
						<a href="#"> <img class="media-object" src="..." alt="..."></img>
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Hello</h4>
						...
					</div>
				</div>
				
				<div class="media">
					<div class="media-left media-top">
						<a href="#"> <img class="media-object" src="..." alt="..."></img>
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Hello</h4>
						...
					</div>
				</div>
			</div>

		</div>




		<div id="dialog-confirm" title="Concfirm delete"
			style="display: none;" th:title="#{dialog.confirm.delete.title}">
			<p>
				<span class="ui-icon ui-icon-alert"
					style="float: left; margin: 0 7px 20px 0;"
					th:text="#{dialog.confirm.delete}"></span>These items will be
				permanently deleted and cannot be recovered. Are you sure?
			</p>
		</div>
	</div>







</body>
</html>