<!DOCTYPE html>
<html>
<head>
<title>Ubukwe Nyarwanda Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="../../../resources/css/bootstrap.css" rel="stylesheet">
<link href="../../../resources/css/font-awesome.min.css" rel="stylesheet">
<link href="../../../resources/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="../../../resources/css/ubukwenyarwanda.css" rel="stylesheet">
<!-- <link href="css/social-buttons.css" rel="stylesheet"> -->

<link rel="stylesheet"
	href="plugins/bs-multiselect/css/bootstrap-multiselect.css"
	type="text/css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div id="wrap">
		<div id="headerContainer" class="container">
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="thumbnail"> <img
						data-src="holder.js/100%x50" alt="...">
					</a>
				</div>
				<div class="col-md-10 ">
					<div class="navbar navbar-default ">
						
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand active" href="index.html">Home</a>
						
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav ">
								<li><a href="#">Find Service</a></li>
								<li><a href="#">Photo gallery</a></li>
								<li><a href="listingHelp.html">Need an advice</a></li>

							</ul>
							
						</div>

					</div>

				</div>
				<!-- 
				<div class="col-md-4">
					<button class="btn btn-default pull-right">Sign in</button>
				</div>
				 -->

			</div>

		</div>
		
		<div id="breadcumbsContainer">
			<ol class="breadcrumb container">
				<li><a href="index.html">Home</a></li>
				<li class="active"><a href="#">Sign up</a></li>
			</ol>
		</div>


		<div id="mainContentContainer" class="container">
			<div class="row">
				<div id="content" class="col-md-10 container">



					<div class="row">
						<div class="col-md-12 container">

							<div class="row">
							<div class="col-md-5">
									<div class="panel panel-default">
										<div class="panel-body">
											<h4>Why Signin up ?</h4>
											<p>...</p>
											<p></p>
										</div>

									</div>
								</div>
								<div class="col-md-7 container">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Sign up for a provider account</h3>
										</div>
										<div class="panel-body">
											<form role="form" action="editProfil.html">
											<label for="enterHere" class="sr-only">Dont fill this field</label>
											<input id="enterHere" type="hidden" name="enterHere" class="hidden"> 
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-user"></i></span> <input type="text"
															class="form-control" id="exampleInputEmail1"
															placeholder="Enter user name">
													</div>

												</div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon">@</span> <input
															type="email" class="form-control" id="exampleInputEmail1"
															placeholder="Enter email">
													</div>

												</div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-lock"></i> </span> <input type="password"
															class="form-control" id="exampleInputPassword1"
															placeholder="Password">
													</div>

												</div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-map-marker"></i> </span> <select
															class="form-control">
															<option selected="selected">Select your location</option>
															<option>1</option>
															<option>2</option>
															<option>3</option>
															<option>4</option>
															<option>5</option>
														</select>
													</div>

												</div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-tasks"></i> </span> <select
															class="multiselect form-control" multiple="multiple">
															
															<option value="cheese">Cheese</option>
															<option value="tomatoes">Tomatoes</option>
															<option value="mozarella">Mozzarella</option>
															<option value="mushrooms">Mushrooms</option>
															<option value="pepperoni">Pepperoni</option>
															<option value="onions">Onions</option>
														</select>
													</div>

												</div>

												<button type="submit" class="btn btn-primary btn-block">Sign
													up</button>
												<br />
												<div class="text-info">By clicking "Sign up", you
													agree to our terms of service and privacy policy.</div>
											</form>
										</div>

									</div>

								</div>
								
							</div>

						</div>
					</div>

				</div>
				<div id="sidebar" class="col-md-2 .hidden-xs">sidebarContainer</div>
			</div>



		</div>
	</div>
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h4>About us</h4>
					ubukwenyarwanda.biz helps you to get the best wedding services
				</div>
				<div class="col-md-5">
					<h4>Contact us</h4>
					info@ubukwenyarwanda.com <br /> +250(0)78 67 99 000
				</div>
				<div class="col-md-2">
					<h4>Connect with us</h4>
					<div class="btn-group">
						<button class="btn">
							<i class="fa fa-facebook-square  fa-stack-2x"></i>&nbsp; &nbsp;
						</button>
						<button class="btn">
							<i class="fa fa-twitter-square fa-stack-2x"></i>&nbsp; &nbsp;
						</button>
						<button class="btn">
							<i class="fa fa-google-plus-square fa-stack-2x"></i>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../../resources/js/bootstrap.min.js"></script>
	<script src="../../../resources/js/holder.js"></script>
	<script type="text/javascript"
		src="plugins/bs-multiselect/js/bootstrap-multiselect.js"></script>
	<script type="text/javascript">
	
	 $(document).ready(function() {
		    $('.multiselect').multiselect({
		    	buttonWidth: 'auto',
		    	 buttonText: function(options) {
		    		 if (options.length == 0) {
		    		 return 'Select your services <b class="caret"></b>';
		    		 } else if (options.length > 3) {
		    			 return options.length + ' selected services <b class="caret"></b>';
		    		 }
		    		 else {
		    		 var selected = '';
		    		 options.each(function() {
		    		 selected += $(this).text() + ', ';
		    		 });
		    		 return selected.substr(0, selected.length -2) + ' <b class="caret"></b>';
		    		 }
		    		


		    		 },
		    		 buttonContainer: '<div class="dropdown" />',
		    		 maxHeight: 150
		    	}
		    );
		  });
	</script>
</body>
</html>