<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="frontend/fragments/mainLayout">
<head>
<title th:text="#{editProfile.title(${provider.businessName})}">Ubukwebwiza - provider's social media</title>
</head>
<body>

		<!-- Main Content -->
		<div layout:fragment="pageContent" id="content" >
			<nav th:replace="accountMenu :: menu"> </nav>
		<div class="row">
				<!-- Content -->
				<div id="socialMedia" class="col-md-12">
				
						<div th:if="${errorSocialMedia}"
							class="alert alert-danger fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <span
								th:text="${errorSocialMedia}">Error</span>
						</div>
						<div th:if="${messageSocialMedia}"
							class="alert alert-success fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a> <span
								th:text="${messageSocialMedia}">Success</span>
						</div>
						<form role="form" th:action="@{/profile/updateSocialMedia}"
							th:object="${provider}" method="post">
							<input type="text" hidden="hidden" th:field="*{id}"
								class="hidden" />

							<div class="row">


								<div class="col-md-4 ">
									<div class="panel  panel-default">

										<div class="panel-body">

											<div class="form-group"
												th:classappend="${#fields.hasErrors('website')}? has-error">
												<label for="website" th:text="#{provider.list.website}">Website</label>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="fa fa-link"></i></span> <input type="text"
														class="form-control" id="website" th:field="*{website}"
														placeholder="Enter your Website url "
														aria-describedby="wHelpBlock" /> <span class="text-danger"
														th:if="${#fields.hasErrors('website')}"
														th:errors="*{website}">Required field</span>
												</div>
												<span id="wHelpBlock" class="help-block">Your website
													url (www.yourdomain.com)</span>

											</div>
											<div class="form-group"
												th:classappend="${#fields.hasErrors('fbUsername')}? has-error">
												<label for="fbUsername"
													th:text="#{provider.list.fbusername}">Facebook user
													name</label>
												<div class="input-group">
													<span class="input-group-addon"> <i
														class="fa fa-facebook"></i>
													</span> <input type="text" class="form-control" id="fbUsername"
														th:field="*{fbUsername}"
														placeholder="Enter your facebook page url "
														aria-describedby="fbHelpBlock" /> <span
														class="text-danger"
														th:if="${#fields.hasErrors('fbUsername')}"
														th:errors="*{fbUsername}">Required field</span>
												</div>
												<span id="fbHelpBlock" class="help-block">Your
													facebook page url (www.facebook.com/yourname)</span>

											</div>
											<div class="form-group"
												th:classappend="${#fields.hasErrors('twitterUsername')}? has-error">
												<label for="twitterUsername"
													th:text="#{provider.list.twitterusername}">Twitter
													user name</label>
												<div class="input-group">
													<span class="input-group-addon"> <i
														class="fa fa-twitter"></i>
													</span> <input type="text" th:field="*{twitterUsername}"
														class="form-control" id="twitterUsername"
														placeholder="Enter your twitter page url"
														aria-describedby="tHelpBlock" /> <span class="text-danger"
														th:if="${#fields.hasErrors('twitterUsername')}"
														th:errors="*{twitterUsername}">Required field</span>
												</div>
												<span id="tHelpBlock" class="help-block">Your twitter
													page url (www.twitter.com/yourname)</span>
											</div>

											<!-- <div class="form-group">
													<label for="exampleInputEmail1">Google plus user
														name</label>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-google-plus"></i></span> <input type="text"
															class="form-control" id="exampleInputEmail1"
															placeholder="Enter user name"/>
													</div>

												</div> -->





										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 ">
									<div class="pull-right">
										<button type="submit" class="btn btn-primary">
											<span th:text="#{update.button.label}">Update</span>
										</button>
									</div>

								</div>
							</div>
						</form>

					





			</div>
				
			</div>
		
	
	
	
	
		</div>
	
	


	
	
	
</body>
</html>