<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="frontend/fragments/mainLayout">
<head>
<title>Photo gallery</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>


<link rel="stylesheet"
	href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css" />
<link rel="stylesheet"
	href="../../../../resources/plugins/bs-image-gallery-3.1.0/css/bootstrap-image-gallery.min.css"
	th:href="@{/resources/plugins/bs-image-gallery-3.1.0/css/bootstrap-image-gallery.min.css}" />



</head>
<body>




	<div id="breadcumbsContainer">
		<ol class="breadcrumb container">
			<li><a href="index.html">Home</a></li>
			<li class="active"><a href="#">Photo Gallery</a></li>
		</ol>
	</div>

	<div layout:fragment="pageContent">
		<div id="content" class="col-md-10 container">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h2>Find wedding photo inspiration!</h2>

					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 container">
					<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
					<div id="blueimp-gallery" class="blueimp-gallery">
						<!-- The container for the modal slides -->
						<div class="slides"></div>
						<!-- Controls for the borderless lightbox -->
						<h3 class="title"></h3>
						<a class="prev">‹</a> <a class="next">›</a> <a class="close">×</a>
						<a class="play-pause"></a>
						<ol class="indicator"></ol>
						<!-- The modal dialog, which will be used to wrap the lightbox content -->
						<div class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" aria-hidden="true">&times;</button>
										<h4 class="modal-title"></h4>
									</div>
									<div class="modal-body next"></div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default pull-left prev">
											<i class="glyphicon glyphicon-chevron-left"></i> Previous
										</button>
										<button type="button" class="btn btn-primary next">
											Next <i class="glyphicon glyphicon-chevron-right"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel  panel-default">

						<div class="panel-body">
							<div id="links">

								<th:bloc th:each="photo : ${photos}">
									<a
										href="../../../../resources/images/application/wedding_4_content.jpg"
										title="Wedding planner" data-gallery=""
										th:href="@{'/resources/images/application/'+${photo.name}}">
										<img height="150" width="210" alt="Wedding planner"
										th:alt="${photo.name}"
										src="../../../../resources/images/application/wedding_4_content.jpg"
										th:src="@{'/resources/images/application/'+${photo.name}}" />
									</a>
								</th:bloc>


								<a
									href="../../../../resources/images/application/Wedding_rings.jpg"
									title="Wedding rings" data-gallery=""
									th:href="@{/resources/images/application/Wedding_rings.jpg}">
									<img height="150" width="210"
									src="../../../../resources/images/application/Wedding_rings.jpg"
									alt="Wedding rings"
									th:src="@{/resources/images/application/Wedding_rings.jpg}"></img>
								</a> <a
									href="../../../../resources/images/application/wedding-banner.png"
									title="Bannner" data-gallery=""
									th:href="@{/resources/images/application/wedding-banner.png}">
									<img height="150" width="210"
									src="../../../../resources/images/application/wedding-banner.png"
									alt="Orange"
									th:src="@{/resources/images/application/wedding-banner.png}"></img>
								</a> <a
									href="../../../../resources/images/application/wedding-banner.png"
									title="Bannner" data-gallery=""
									th:href="@{/resources/images/application/wedding-banner.png}">
									<img height="150" width="210"
									src="../../../../resources/images/application/wedding-banner.png"
									alt="Orange"
									th:src="@{/resources/images/application/wedding-banner.png}"></img>
								</a>


							</div>

						</div>
					</div>



				</div>

			</div>

		</div>

	</div>



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../../../resources/js/bootstrap.min.js"
		th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="../../../../resources/js/holder.js"
		th:src="@{/resources/js/holder.js}"></script>
	<script
		src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script
		src="../../../../resources/plugins/bs-image-gallery-3.1.0/js/bootstrap-image-gallery.min.js"
		th:src="@{/resources/plugins/bs-image-gallery-3.1.0/js/bootstrap-image-gallery.min.js}"></script>
	<script type="text/javascript">
	$('.carousel').carousel({
		  interval: 2000
		})
	</script>
</body>
</html>
