<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="frontend/fragments/mainLayout">
<head>
<title th:texte="#{photogallery.title}">Photo gallery</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>


</head>
<body>


	
		<div layout:fragment="pageContent" id="content" >
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h2>Find wedding photo inspiration!</h2>

					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 container">
					<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
					<div id="blueimp-gallery" class="blueimp-gallery" >
						<!-- The container for the modal slides -->
						<div class="slides"></div>
						<!-- Controls for the borderless lightbox -->
						<h3 class="title"></h3>
						<a class="prev">‹</a> <a class="next">›</a> <a class="close">×</a>
						<a class="play-pause"></a>
						<ol class="indicator"></ol>
						<!-- The modal dialog, which will be used to wrap the lightbox content -->
						<div class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" aria-hidden="true">&times;</button>
										<h4 class="modal-title"></h4>
									</div>
									<div class="modal-body next"></div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default pull-left prev">
											<i class="glyphicon glyphicon-chevron-left"></i> Previous
										</button>
										<button type="button" class="btn btn-primary next">
											Next <i class="glyphicon glyphicon-chevron-right"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel  panel-default">

						<div class="panel-body">
							<div id="links">

								<th:bloc th:each="photo : ${photos}">
									<a
										href="../../../../resources/images/application/wedding_4_content.jpg"
										title="Wedding planner" data-gallery="" th:title="${photo.description}"
										th:href="@{'https://ubfiles.s3.amazonaws.com/'+${photo.filename}}">
										
										<img height="150" width="210" alt="Wedding planner" th:alt-title="${photo.description}" 
										
										src="../../../../resources/images/application/wedding_4_content.jpg"
										th:src="@{'https://ubfiles.s3.amazonaws.com/'+${photo.filename}}" />
									</a>
								</th:bloc>

								
								<a th:remove="all"
									href="../../../../resources/images/application/Wedding_rings.jpg"
									title="Wedding rings" data-gallery=""
									th:href="@{/resources/images/application/Wedding_rings.jpg}">
									<img height="150" width="210"
									src="../../../../resources/images/application/Wedding_rings.jpg"
									alt="Wedding rings"
									th:src="@{/resources/images/application/Wedding_rings.jpg}"></img>
								</a> <a th:remove="all"
									href="../../../../resources/images/application/wedding-banner.png"
									title="Bannner" data-gallery=""
									th:href="@{/resources/images/application/wedding-banner.png}">
									<img height="150" width="210"
									src="../../../../resources/images/application/wedding-banner.png"
									alt="Orange"
									th:src="@{/resources/images/application/wedding-banner.png}"></img>
								</a> <a th:remove="all"
									href="../../../../resources/images/application/wedding-banner.png"
									title="Bannner" data-gallery=""
									th:href="@{/resources/images/application/wedding-banner.png}">
									<img height="150" width="210"
									src="../../../../resources/images/application/wedding-banner.png"
									alt="Orange"
									th:src="@{/resources/images/application/wedding-banner.png}"></img>
								</a>


							</div>

						</div>
					</div>



				</div>

			</div>
			<div class="row">
								<div class="col-md-12">
								<div th:replace="util :: paginator ">
									<ul class="pagination pagination-lg">
										<li><a href="#">&laquo;</a></li>
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#">&raquo;</a></li>
									</ul>
								</div>
									
								</div>
							</div>

		</div>

	
</body>
</html>

