<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ubukwebwiza</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

</head>
<script th:remove="all" src="../../../../resources/js/thymol/thymol.js" th:src="@{/resources/js/thymol/thymol.js}"
		type="text/javascript"></script>
<body>


<div id="footer" th:fragment="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h4 th:text="#{message.aboutus}">About us</h4>
						<span th:text="#{message.aboutus.accroche}">We help you to get the best wedding service providers near you!</span> 
					</div>
					<div class="col-md-3">
<!-- 						<h4></h4> -->
<!-- 						info@ubukwebwiza.com <br />  -->
					</div>
					
					<div class="col-md-4">
						<h4 th:text="#{message.connectWithUs}">Connect with us</h4>
						 <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/ubukwebwiza"><i class="fa fa-facebook"></i></a>
						<a class="btn btn-social-icon btn-twitter" target="_blank" href="https://twitter.com/ubukwebwiza" ><i class="fa fa-twitter"></i></a>
						<a class="btn btn-social-icon btn-google-plus" target="_blank" href="https://plus.google.com/u/1/112560178652625682191/" ><i class="fa fa-google-plus"></i></a>
					

					</div>
				</div>
				<div class="row">
				<div class="col-md-12 text-center">
				 <ol class="breadcrumb">
				 	<li>&copy; 2015 Ubukwebwiza</li>
				 	<li><a th:href="@{/contactus}" th:text="#{contactus.title}" >Contact us  </a> </li>
				 	<li><a th:href="@{/terms}" th:text="#{message.terms}"> Terms</a> </li>
				 	<li><a th:href="@{/privacy}" th:text="#{message.privacy}">Privacy</a></li>
				 </ol>
				 </div>
				</div>
			</div>
		</div>
		
		
</body>
</html>