<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ubukwebwiza</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<!-- Bootstrap -->
<link href="../../../resources/css/bootstrap.css" rel="stylesheet" 
	  th:href="@{/resources/css/bootstrap.css}" />
<link href="../../../resources/css/font-awesome.min.css" rel="stylesheet" 
	  th:href="@{/resources/css/font-awesome.min.css}"/>
<link href="../../../resources/css/bootstrap-theme.min.css" rel="stylesheet" 
		th:href="@{/resources/css/font-awesome.min.css}"/>
<link href="../../../resources/css/ubukwenyarwanda.css" rel="stylesheet" 
	  th:href="@{/resources/css/ubukwenyarwanda.css}"/>
<link href="../../../resources/css/social-buttons.css" rel="stylesheet"
		th:href="@{/resources/css/social-buttons.css}"  />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h4>About us</h4>
						ubukwenyarwanda.biz helps you to get the best wedding services
					</div>
					<div class="col-md-5">
						<h4>Contact us</h4>
						info@ubukwenyarwanda.com <br /> +250(0)78 67 99 000
					</div>
					<div class="col-md-2">
						<h4>Connect with us</h4>
						<div class="btn-group">
							<button class="btn">
								<i class="fa fa-facebook-square  fa-stack-2x"></i>&nbsp; &nbsp;
							</button>
							<button class="btn">
								<i class="fa fa-twitter-square fa-stack-2x"></i>&nbsp; &nbsp;
							</button>
							<button class="btn">
								<i class="fa fa-google-plus-square fa-stack-2x"></i>
							</button>
						</div>

					</div>
				</div>
			</div>
		</div>
		
		
</body>
</html>