<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ubukwebwiza</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

</head>
<script th:remove="all" src="../../../../resources/js/thymol/thymol.js" th:src="@{/resources/js/thymol/thymol.js}"
		type="text/javascript"></script>
<body>


<div id="footer" th:fragment="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h4>About us</h4>
						We help you to get the best wedding service providers near you!
					</div>
					<div class="col-md-3">
						<h4>Contact us</h4>
						info@ubukwebwiza.com <br /> 
					</div>
					
					<div class="col-md-4">
						<h4>Connect with us</h4>
						 <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
						<a class="btn btn-social-icon btn-twitter" ><i class="fa fa-twitter"></i></a>
						<a class="btn btn-social-icon btn-google-plus" ><i class="fa fa-google-plus"></i></a>
					

					</div>
				</div>
				<div class="row">
				<div class="col-md-12 text-center">
				 <ol class="breadcrumb">
				 	<li>&copy; 2015 Ubukwebwiza</li>
				 	<li>Terms</li>
				 	<li>Privacy</li>
				 </ol>
				 </div>
				</div>
			</div>
		</div>
		
		
</body>
</html>