<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ubukwebwiza</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

</head>

<body>

	<div id="headerContainer"  th:fragment="header" class="container">
		
		
		
		<div class="row">

			<div class="col-md-12 ">
				<!-- Static navbar -->
				<div class="navbar  navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle"
							data-toggle="offcanvas" data-target=".navbar-offcanvas"
							data-canvas="body">
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html" th:href="@{/}" 
						    th:classappend="${currentMenu == 'home' ? 'active' : ''}">
						      
						      <img src="../../../../resources/images/application/logo.jpg" alt="Ubukwebwiza" width="200" height="30"
						       class="img-responsive"	th:src="@{/resources/images/application/logo.jpg}" /> 
						    </a>
						 
					</div>
					 
					   <!-- Account feature is coming -->
					<!-- <div
						th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
						<span th:case="${false}">User is not logged in</span> <span
							th:case="${true}">Logged in user</span> <span th:case="*">Should
							never happen, but who knows...</span>
					</div>
					<div class="pull-right hidden-xs" style="padding-top: 8px; margin-right: 10px;"
						th:classappend="${#authorization}  ? 'dropdown' : ''">

						<div  sec:authorize="!isAuthenticated()" class="row">
							<div class="col-md-6">
								<a href="account/signin.html" th:href="@{/login}"
									class="btn btn-default pull-right  navbar-btn">Sign in</a>
							</div>
							<div class="col-md-6">
								<a href="account/signup.html" th:href="@{/signup}"
									class="btn btn-primary pull-right navbar-btn">Join us</a>
							</div>

						</div>


						<a sec:authorize="isAuthenticated()"  id="dLabel" data-toggle="dropdown" href="#" class="btn btn-default"> 
						<span class="glyphicon glyphicon-user"></span>&nbsp;
						<span sec:authentication="name">Hello Fabrice</span> <span
							class="caret"></span>
						</a>
						<ul sec:authorize="isAuthenticated()"  class="dropdown-menu no-collapse" role="menu" aria-labelledby="dLabel">
							<li>

								<form class="navbar-form" data-th-action="@{/logout}"
									method="post" action="">
									<label for="mySubmit" class="btn"> <span
										class="glyphicon glyphicon-log-out"></span> &nbsp;Log Out
									</label> <input id="mySubmit" type="submit" value="Go" class="hidden" />
								</form>

							</li>
						</ul>

					</div> -->
					
					
					<div class="navbar-offcanvas navmenu-fixed-left offcanvas">
						<a class="navmenu-brand" href="#" th:href="@{/}">Menu</a>
						<ul class="nav navbar-nav">
							<li th:classappend="${currentMenu == 'providers' ? 'active' : ''}"><a
								href="listingProvider.html" th:href="@{/providers}">Service
									providers</a></li>
							<li th:classappend="${currentMenu == 'gallery' ? 'active' : ''}"><a
								href="photoGallery.html" th:href="@{/gallery}">Photo gallery</a></li>
							<!-- <li><a href="forum/listingHelp.html">Need an advice </a></li> -->
							<li>
							
							
							<!-- <div sec:authorize="!isAuthenticated()"
									class="row visible-xs-block">
									<div class="col-md-6">
										<a href="account/signin.html" th:href="@{/login}"
											class="btn btn-default  navbar-btn">Sign in</a>
									</div>
									<div class="col-md-6">
										<a href="account/signup.html" th:href="@{/signup}"
											class="btn btn-primary  navbar-btn">Join us</a>
									</div>
								</div> -->


<!-- 								<div th:if="${#authorization.expression('!isAuthenticated()')}" -->
<!-- 									class="row visible-xs-block"> -->
<!-- 									<div class="col-md-6"> -->
<!-- 										<a href="account/signin.html" th:href="@{/login}" -->
<!-- 											class="btn btn-default  navbar-btn">Sign in</a> -->
<!-- 									</div> -->
<!-- 									<div class="col-md-6"> -->
<!-- 										<a href="account/signup.html" th:href="@{/signup}" -->
<!-- 											class="btn btn-primary  navbar-btn">Join us</a> -->
<!-- 									</div> -->


<!-- 								</div> -->
							</li>
							
						</ul>
					</div>
					<!--/.nav-collapse -->

				</div>

			</div>


		</div>
</div>
	

</body>
</html>