<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Ubukwebwiza</title>

<!-- LoadCSS.min.js to load css files in async mode -->
<script src="../../../../resources/js/loadCSS.min.js" th:src="@{/resources/js/loadCSS.min.js}"></script>
		

<!-- load Bootstrap files  async -->
<!-- <script type="text/javascript"> loadCSS( "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" );</script>
<script type="text/javascript"> loadCSS( "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" );</script>
<script type="text/javascript"> loadCSS( "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" );</script>
<script type="text/javascript"> loadCSS( "http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css" );</script>
<script type="text/javascript"> loadCSS( "http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css" );</script> -->


<script th:inline="javascript"> 
	<!-- load Bootstrap files  async -->
	loadCSS( "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" );
	loadCSS( "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" );
	loadCSS( "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" );
	loadCSS( "http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css" );
	loadCSS( "http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css" );
	loadCSS( "//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css");
	
	var urlBootstrapImageGalleryCss = /*[[@{/resources/plugins/bs-image-gallery-3.1.0/css/bootstrap-image-gallery.min.css}]]*/ 'resources/plugins/bs-image-gallery-3.1.0/css/bootstrap-image-gallery.min.css';
	console.log("url for bootstrap-image-gallery.css is: " + urlBootstrapImageGalleryCss);
	loadCSS( urlBootstrapImageGalleryCss );	
	
	loadCSS( "http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css" );	
	
	
	var urlSocialButtonsCss = /*[[@{/resources/css/social-buttons.css}]]*/ 'resources/css/social-buttons.css';
	console.log("url for social-buttons.css is: " + urlSocialButtonsCss);
	loadCSS( urlSocialButtonsCss );
	
	var urlChosenCss = /*[[@{/resources/plugins/chosen_v1.4.2/chosen.min.css}]]*/ 'resources/plugins/chosen_v1.4.2/chosen.min.css';
	console.log("url for chosen.css is: " + urlChosenCss);
	loadCSS( urlChosenCss );
	
	<!-- Load my css files async -->
	var urlUbukwenyarwandaCss = /*[[@{/resources/css/ubukwenyarwanda.css}]]*/ 'resources/css/ubukwenyarwanda.css';
	console.log("url for ubukwenyarwanda.css is: " + urlUbukwenyarwandaCss);
	loadCSS( urlUbukwenyarwandaCss );
	


</script>


<!-- Bootstrap -->
<noscript><link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"  /></noscript>

<noscript><link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"  /></noscript>

<noscript><link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" rel="stylesheet"  /></noscript>

<noscript><link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"  /></noscript>

<noscript><link href="../../../../resources/css/ubukwenyarwanda.css" rel="stylesheet" th:href="@{/resources/css/ubukwenyarwanda.css}" /></noscript>

<noscript><link href="../../../../resources/css/social-buttons.css" rel="stylesheet" th:href="@{/resources/css/social-buttons.css}" /></noscript>

<noscript><link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css" /></noscript>

<noscript><link rel="stylesheet" href="../../../../resources/plugins/bs-image-gallery-3.1.0/css/bootstrap-image-gallery.min.css"
	th:href="@{/resources/plugins/bs-image-gallery-3.1.0/css/bootstrap-image-gallery.min.css}" /></noscript>
	
<noscript><link rel="stylesheet" 	href="http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css"
	 media="screen"/></noscript>
	 
<link rel="icon" 
      type="image/x-icon" 
      href="../../../../resources/images/application/favicon.ico" th:href="@{/resources/images/application/favicon.ico}" />


    <style type="text/css">
   	@media (max-width: 646px) {
	#mainPitch {
	position: absolute;
	top: 0px;
	width: 100%;
	
  }
  .carousel-indicators {
  bottom: -5px;
  }
  
 .carousel-caption {
  bottom: 4px;
  }
}
   </style>
    
 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script type="text/javascript" src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->  
</head>

<body>
	<!-- <div id="wrap"> -->
		<!--/* Standard layout can be mixed with Layout Dialect */-->
	<div th:replace="frontendHeader :: header">&nbsp;</div>

	<div th:replace="util/navigation :: breadcrumbs">
		<ol class="breadcrumb container">
			<li class="active"><a href="index.html" th:href="@{/}">Home</a></li>
		</ol>
	</div>

	<div id="mainContentContainer">
		<div class="container contentContainer">
			<div class="row">

				<div layout:fragment="pageContent" class="container" th:classappend="${#bools.isTrue(showSidebar) ? 'col-md-10':'col-md-12'}">
					<h1>Static content for prototyping purposes only</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Praesent scelerisque neque neque, ac elementum quam dignissim
						interdum. Phasellus et placerat elit. Lorem ipsum dolor sit amet,
						consectetur adipiscing elit. Praesent scelerisque neque neque, ac
						elementum quam dignissim interdum. Phasellus et placerat elit.</p>
				</div>

				<!-- sidebar to be included -->
				<div th:replace="frontendSidebar :: sidebar" >&nbsp;</div>
				<!-- end of sidebar -->
			</div>
		</div>
	</div>

	<!-- footer to be included -->
		<div th:replace="frontendFooter :: footer">&nbsp;</div>
		<!-- end of footer -->

<!-- 	</div> -->

<!-- LoadJS.js to load js files in async mode -->
<!-- <script src="../../../../resources/js/loadJS.js" th:src="@{/resources/js/loadJS.js}"></script>
<script type="text/javascript">loadScript( "https://code.jquery.com/jquery.min.js" );</script>
<script type="text/javascript">loadScript( "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" );</script>
<script type="text/javascript">loadScript( "https://cdnjs.cloudflare.com/ajax/libs/holder/2.6.0/holder.min.js" );</script>
<script type="text/javascript">loadScript( "http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js" );</script>	
<script type="text/javascript">loadScript( "resources/plugins/bs-image-gallery-3.1.0/js/bootstrap-image-gallery.min.js" );</script>
<script type="text/javascript">loadScript( "http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js" );</script> -->


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 
   <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<!-- 	<script th:remove="all" src="../../../../resources/js/thymol/thymol.js" th:src="@{/resources/js/thymol/thymol.js}" 	type="text/javascript"></script> -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.6.0/holder.min.js"></script>
	<script
		src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js" ></script>
	<script
		src="../../../../resources/plugins/bs-image-gallery-3.1.0/js/bootstrap-image-gallery.min.js"
		th:src="@{/resources/plugins/bs-image-gallery-3.1.0/js/bootstrap-image-gallery.min.js}"></script>
	<script
		src="http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
	
	<script src="../../../../resources/plugins/chosen_v1.4.2/chosen.jquery.min.js" th:src="@{/resources/plugins/chosen_v1.4.2/chosen.jquery.min.js}"></script>
	<script src="../../../../resources/js/pwstrength.js" th:src="@{/resources/js/pwstrength.js}"></script>
	<script src="../../../../resources/js/editProfile.js" th:src="@{/resources/js/editProfile.js}"></script>
	<script type="text/javascript">
	$('.carousel').carousel({
		  interval: 6000
		});
	
	 var config = {
		      '.chosen-select'           : {},
		      '.chosen-select-deselect'  : {allow_single_deselect:true},
		      '.chosen-select-no-single' : {disable_search_threshold:10},
		      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
		      '.chosen-select-width'     : {width:"100%"}
		    };
		    /* for (var selector in config) {
		      $(selector).chosen(config[selector]);
		    } */
	 
	 $(".my_select_box").chosen({
		    allow_single_deselect:true,
		    no_results_text: "Oops, nothing found!",
		    width: "100%"
		  });
	
		    var options = {};
		    options.common = {minChar:8};
		    options.ui = {
		            
		            
		               /*  showVerdictsInsideProgressBar:true,
		                showErrors:true,
		                errorMessages:{
		                    wordLength: '<spring:message code="error.wordLength"/>',
		                    wordNotEmail: '<spring:message code="error.wordNotEmail"/>',
		                    wordSequences: '<spring:message code="error.wordSequences"/>',
		                    wordLowercase: '<spring:message code="error.wordLowercase"/>',
		                    wordUppercase: '<spring:message code="error.wordUppercase"/>',
		                    wordOneNumber: '<spring:message code="error.wordOneNumber"/>',
		                    wordOneSpecialChar: '<spring:message code="error.wordOneSpecialChar"/>'
		                } */
		                container: "#pwd-container",
		                showStatus: true,
		                showProgressBar: false,
		                viewports: {
		                    verdict: ".pwstrength_viewport_verdict"
		                }
		            
		        };
		        $('#userPassword').pwstrength(options);
		/* $(".modal").on('shown', function() {
        $(this).find("#exampleInputEmail1").focus();
    }); */
    
	</script>
</body>

</html>