<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ubukwebwiza</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

</head>
<body>
	<div th:fragment="paginator">
		<div class="row">
				<div class="col-md-2">
					<span th:text="#{paginator.page}">Page</span> &nbsp;
		<span th:text="${page.number}">1</span>&nbsp;
		<span th:text="#{paginator.of}">of</span>&nbsp;
		<span th:text="${page.totalPages}">of</span> &nbsp;
		<span th:text="#{paginator.pages}">page(s)</span> &nbsp;
			</div>
			<div class="col-md-10">
			
			
			<ul class="pagination pagination-lg">

			<li th:class="${page.firstPage}? 'disabled' : ''">
			<span
				th:if='${page.firstPage}' th:text="#{paginator.first}"> First</span> <a
				th:if='${not page.firstPage}' th:href='@{${page.url}(page=1)}' th:text="#{paginator.first}">
					First</a></li>

			<li th:if='${page.hasPreviousPage}'
				th:class="${page.hasPreviousPage}? '' : 'disabled'"><span
				th:if='${not page.hasPreviousPage}'>&laquo;</span> <a
				th:if='${page.hasPreviousPage}'
				th:href='@{${page.url}(page=${page.number - 1})}'
				title='Go to previous page'>&laquo;</a></li>

			
			<li
				th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
				<span th:if='${item.current}' th:text='${item.number}'>1</span> <a
				th:if='${not item.current}'
				th:href='@{${page.url}(page=${item.number})}'><span
					th:text='${item.number}'>1</span></a>
			</li>

			 <li th:if="${page.hasNextPage}"
				th:class="${page.hasNextPage}? '' : 'disabled'"><span
				th:if="${not page.hasNextPage}">&raquo;</span> <a
				th:if="${page.hasNextPage}"
				th:href="@{${page.url}(page=${page.number + 1})}"
				title="Go to next page">&raquo;</a></li> 
				
				
			
				
	 	<li th:class="${page.lastPage}? 'disabled' : ''">
	 	<span
				th:if="${page.lastPage}" th:text="#{paginator.last}">Last</span>
				 <a th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages})}"
				 th:text="#{paginator.last}">Last</a></li> 
			

		</ul>
			</div>
		</div>
		
		
		
	</div>
</body>
</html>