<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ubukwebwiza</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

</head>

<body>
<div id="sidebar" class="col-md-2 hidden-sm" th:fragment="sidebar" th:unless="${#bools.isFalse(showSidebar)}">
	
	<a href="#" class="thumbnail" th:href="@{/search?service=1}" > <img src="http://cdn.ubukwebwiza.com/Planners.jpg" alt="All sevices" /> </a>
	
	<a href="#" class="thumbnail"  th:href="@{/search?service=8}"> <img src="http://cdn.ubukwebwiza.com/Decorators.jpg" alt="Decoration" /> </a>
	
	<a href="#" class="thumbnail" th:href="@{/search?service=16}" > <img  src="http://cdn.ubukwebwiza.com/dresses.jpg"  alt="Dress" /> </a>

</div>
</body>
</html>